---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<h1>My First Astro Portfolio Site</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum corrupti quam consequatur? Animi, perspiciatis nemo minima quis nesciunt esse similique magni quam quasi fugiat molestias vitae aliquid deserunt amet maiores mollitia praesentium, aperiam harum doloremque nostrum ipsum dicta repudiandae? Explicabo tempore distinctio quaerat vitae nobis! Dolore quas et laboriosam?</p>
</BaseLayout>
