---
import BaseLayout from "../layouts/BaseLayout.astro";
import TopNav from "../components/TopNav.astro";
import FullMenu from "../components/FullMenu.astro";
import TickerTape from "../components/TickerTape.astro"
// or if imported from package
import Blobity from 'blobity';
---
<style>
    /* scoped to the component, other H1s on the page remain the same */
	main {width: 80%; margin: 0 auto;}
    .Home-Intro {text-align: center; font-family: neue-haas-grotesk-display, sans-serif;
    font-size: var(--step-4); margin-block: 120px; }
	input[type="checkbox"]:checked ~ #BlackBurst {color: aqua;}
  </style>

<BaseLayout>
	<TopNav></TopNav>
	<FullMenu></FullMenu>
	<main>
		<h1 class="Home-Intro">I am Matthew Michael Morrison, an award-winning screenwriter, designer, entreprenuer, and graphic novelist from Chicago. I have worked with a variety of brands across tech, sports, and non-profits. My approach is realistic and creative, supported by a variety of skills in graphic design, front-end development (HTML, CSS, and Javascript), storytelling, and motion graphics.</h1>
	</main>
	<TickerTape></TickerTape>
</BaseLayout>

<script>
	import Blobity from 'blobity';

const options = { color: 'rgb(180, 180, 180)', dotColor: '#000000', dotSize: '12' };
new Blobity(options);
</script>
