---
import '../styles/reset.css';
import '../styles/utility.css';
import '../styles/global.css';
import '../styles/grid.css';
import MainHead from '../components/MainHead.astro';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<MainHead>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="../node_modules/video.js/dist/video-js.min.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<!-- Vime Video Default theme. ~960B -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@vime/core@^5/themes/default.css"/>
	<!-- Vime Optional light theme (extends default). ~400B -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@vime/core@^5/themes/light.css"/>
		<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@vime/core@^5/dist/vime/vime.esm.js"
></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</MainHead>
	<body id="body">
			<slot />
	</body>
</html>