---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TopNav from "../../components/TopNav.astro";
import ProjectIntro from "../../components/ProjectIntro.astro";
import Footer from "../../components/Footer.astro";
import BacktoTop from "../../components/BacktoTop.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import IntersectionObserver from "../../components/IntersectionObserver.astro";
const url1 = '/design-projects/loyola';
const url2 = '/design-projects/insert-coin';
const url3 = '/design-projects/geneva-trading';
const url4 = '/design-projects/nike';
---
<style>
    .project-img {width: 100%; margin-block: 1rem;}
    /* scoped to the component, other H1s on the page remain the same */
	main {width: 80%; margin: 0 auto;}
	input[type="checkbox"]:checked ~ #BlackBurst {color: aqua;}
    /* Hero Image Styling */
    .project-hero {
    display: flex;
    background-image: url("/Images/Projects/Agent-511/Agent-511-Project-Hero.jpg");
    width: 100%;
    min-height: 50em;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Image Reveal Styles */
.image-reveal {position: absolute; width: 500px; height: 280px; top: 50%; left: 50%; pointer-events: none; transform: translate(-50%, -50%); overflow: hidden; opacity: 0; transform: scale(0.8); transition: all .5s ease-out; mix-blend-mode: difference;}
 
  </style>

<BaseLayout>
	<TopNav></TopNav>
    <div class="project-hero" id="nike-hero"></div>
    
	<main class="main">
        <ProjectIntro>
            <h1 slot="project-title" class="project-title"> Agent 511</h1>
            <p slot="project-intro" class="project-intro">AGENT511 is an industry leader in mobile technology and customer contact center communications, providing their clients with a seamless experience through their robust, integrated platform.</p>
            <p slot="project-intro" class="project-intro">AGENT511 wanted to redesign their website to address client needs as well as align to their future goals as a company. The objective, through design, was to visually represent what the technology could do in a digestible manner for their audiences while creating a look and feel that was calming and inviting. Each designer created their own unique art direction to present to the client.</p>
            <p slot="project-intro" class="project-intro">This unused concept captures those goals. The flow of the page illustrates the functionality of the technology while the soft gradient icons with the blues evoke a calming and soft look and feel for the page.</p>
            <h6 slot="project-credits"  class="credits-headline">SCOPE</h6>
            <h6 slot="project-credits" class="scope-details">-Branding and Web Design</h6>
            <h6 slot="project-credits"  class="credits-headline">CREDITS</h6>
            <h6 slot="project-credits" class="job-title">Creative Director</h6>
            <h6 slot="project-credits" class="person-name">Amy Schwartz</h6>
            <h6 slot="project-credits" class="job-title">Art Director & Designer</h6>
            <h6 slot="project-credits" class="person-name">Matthew Michael Morrison</h6>
            <h6 slot="project-credits" class="job-title">Art Director & Designer</h6>
            <h6 slot="project-credits" class="person-name">Greer Mosher</h6>
            <h6 slot="project-credits" class="job-title">Art Director & Designer</h6>
            <h6 slot="project-credits" class="person-name">Hemza Hajyousif</h6>
        </ProjectIntro>

        <div class="p3"></div>
                <img class="project-img fade-in" src="/Images/Projects/Agent-511/Agent-511-Homepage-Design.jpg">

        <ProjectPreview url1={url1} url2={url2} url3={url3} url4={url4}>
                    <h4 slot="project-1" class="project-preview-title">Loyola University Marketing</h4>
                        <div slot="project-1" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/loyola/Loyola-Project-Cover.jpg"></div>
                    <h4 slot="project-2" class="project-preview-title">Insert Coin x SXSW</h4>
                       <div slot="project-2" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/Insert-Coin/Insert-Coin-Project-Cover.jpg"></div>
                    <h4 slot="project-3" class="project-preview-title">Geneva Trading</h4>
                        <div slot="project-3" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/Geneva-Trading/GT-Project-Cover.jpg"></div>
                    <h4 slot="project-4" class="project-preview-title">Nike Store Concept</h4>
                        <div slot="project-4" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/nike/Nike-Project-Cover.jpg"></div>
        </ProjectPreview>
	</main>
    <IntersectionObserver></IntersectionObserver>
    <BacktoTop></BacktoTop>
    <Footer></Footer>
</BaseLayout>