---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TopNav from "../../components/TopNav.astro";
import ProjectIntro from "../../components/ProjectIntro.astro";
import Footer from "../../components/Footer.astro";
import BacktoTop from "../../components/BacktoTop.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import IntersectionObserver from "../../components/IntersectionObserver.astro";
---
<style>
    .project-img {width: 100%; margin-block: 1rem;}
    /* scoped to the component, other H1s on the page remain the same */
	main {width: 80%; margin: 0 auto;}
    /* Hero Image Styling */
    .project-hero {
    display: flex;
    background-image: url("/public/images/Projects/nike/Nike-Project-Hero.jpg");
    width: 100%;
    min-height: 50em;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Image Reveal Styles */
.image-reveal {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: all .5s ease-out;
}


 /* Typography Styles */
 h1.project-title {font-weight: 700; margin-inline: 1rem;}
 p.project-intro {font-size: var(--step-1); font-weight: 200; line-height: 1.5;}
 .body {line-height: 1.5; margin: 1rem;}
 .credits-headline  {font-weight: 700;}
 .job-title  {font-weight: 500; font-style: italic;}
 .person-name {margin-top: 0.5rem;}
 .project-preview-title {margin-inline: 1rem; margin-block: 2rem; font-size: var(--step-2); font-weight: 700;}

 /* MOBILE */
@media screen and (max-width: 600px) {
	main {width: 90%;}
    h1.project-title {margin: 0; font-size: var(--step-6);}
    p.project-intro {font-size: var(--step-2);}
    .credits-headline  {font-weight: 700; font-size: var(--step-2); margin-block: 1.75rem;}
    .job-title  {font-weight: 500; font-style: italic; font-size: var(--step-2);}
    .person-name, .scope-details {font-size: var(--step-2);}
}
 
  </style>

<BaseLayout>
	<TopNav></TopNav>
    <div class="project-hero" id="nike-hero"></div>
    
	<main class="main">
        <ProjectIntro>
            <h1 slot="project-title" class="project-title"> Nike Store Concept</h1>
            <p slot="project-intro" class="project-intro"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste cupiditate ea beatae molestias at recusandae maiores fugit laborum a velit atque eius voluptatum porro, tenetur deleniti numquam est voluptas, natus ducimus magnam officia quo. Sunt, dolorem maxime beatae sint, blanditiis pariatur alias dicta repellendus totam ex ipsa laboriosam dolorum. </p>
            <h6 slot="project-credits"  class="credits-headline">Scope</h6>
            <h6 slot="project-credits" class="scope-details">-Typography and Color </h6>
            <h6 slot="project-credits"  class="credits-headline">Credits</h6>
            <h6 slot="project-credits" class="job-title">Designer</h6>
            <h6 slot="project-credits" class="person-name">Matthew Michael Morrison</h6>

        </ProjectIntro>
        <div class="p2"></div>
                <img class="project-img fade-in" src="/public/images/Projects/nike/Nike-Home-Screen-Hero.jpg">
                <img class="project-img fade-in" src="/public/images/Projects/nike/Nike-Product-Page.jpg">
                <img class="project-img fade-in" src="/public/images/Projects/nike/Nike-Home-Card-2.jpg">
                <img class="project-img fade-in" src="/public/images/Projects/nike/Nike-Footer.jpg">
            <div class="grid-wrapper-min-max">
                <img class="grid-item fade-in" src="/public/images/Projects/nike/Nike-Product-Page-Mobile.jpg">
                <img class="grid-item fade-in" src="/public/images/Projects/nike/Nike-Shopping-Items-Mobile.jpg">
                <img class="grid-item fade-in" src="/public/images/Projects/nike/Nike-Footer-Mobile.jpg">
            </div>
            <img class="project-img fade-in" src="/public/images/Projects/nike/Nike-Shopping-Page.jpg">

        <ProjectPreview>
            <h4 slot="project-1" class="project-preview-title"> AT&T Believe Social Campaign</h4>
                <div slot="project-1" class="image-reveal"><img class="project-preview-img" src="/public/images/Placeholders/Placeholder-1350x1800.jpg"></div>
            <h4 slot="project-2" class="project-preview-title">Nike Store Concept</h4>
               <div slot="project-2" class="image-reveal"><img class="project-preview-img" src="/public/images/Placeholders/Placeholder-1350x1800.jpg"></div>
            <h4 slot="project-3" class="project-preview-title"> Lorem Ipsum Project Title</h4>
                <div slot="project-3" class="image-reveal"><img class="project-preview-img" src="/public/images/Placeholders/Placeholder-1350x1800.jpg"></div>
            <h4 slot="project-4" class="project-preview-title"> Lorem Ipsum Project Title</h4>
                <div slot="project-4" class="image-reveal"><img class="project-preview-img" src="/public/images/Placeholders/Placeholder-1350x1800.jpg"></div>
        </ProjectPreview>

	</main>
    <IntersectionObserver></IntersectionObserver>
    <BacktoTop></BacktoTop>
    <Footer></Footer>
</BaseLayout>
