---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TopNav from "../../components/TopNav.astro";
import ProjectIntro from "../../components/ProjectIntro.astro";
import Footer from "../../components/Footer.astro";
import BacktoTop from "../../components/BacktoTop.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import IntersectionObserver from "../../components/IntersectionObserver.astro";
const url1 = '/design-projects/loyola';
const url2 = '/design-projects/insert-coin';
const url3 = '/design-projects/geneva-trading';
const url4 = '/design-projects/agent511';
---
<style>
    .project-hero {
    background-image: url("/Images/Projects/nike/Nike-Project-Hero.jpg");
}
</style>

<BaseLayout>
	<TopNav></TopNav>
    <div class="project-hero" id="nike-hero"></div>
    
	<main class="main">
        <ProjectIntro>
            <h1 slot="project-title" class="project-title"> Nike Store Concept</h1>
            <p slot="project-intro" class="project-intro"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste cupiditate ea beatae molestias at recusandae maiores fugit laborum a velit atque eius voluptatum porro, tenetur deleniti numquam est voluptas, natus ducimus magnam officia quo. Sunt, dolorem maxime beatae sint, blanditiis pariatur alias dicta repellendus totam ex ipsa laboriosam dolorum. </p>
            <h6 slot="project-credits"  class="credits-headline">Scope</h6>
            <h6 slot="project-credits" class="scope-details">-Typography and Color </h6>
            <h6 slot="project-credits"  class="credits-headline">Credits</h6>
            <h6 slot="project-credits" class="job-title">Designer</h6>
            <h6 slot="project-credits" class="person-name">Matthew Michael Morrison</h6>

        </ProjectIntro>
        <div class="p2"></div>
                <img class="project-img fade-in" src="/Images/Projects/nike/Nike-Home-Screen-Hero.jpg">
                <img class="project-img fade-in" src="/Images/Projects/nike/Nike-Product-Page.jpg">
                <img class="project-img fade-in" src="/Images/Projects/nike/Nike-Home-Card-2.jpg">
                <img class="project-img fade-in" src="/Images/Projects/nike/Nike-Footer.jpg">
            <div class="grid-wrapper-min-max">
                <img class="grid-item fade-in" src="/Images/Projects/nike/Nike-Product-Page-Mobile.jpg">
                <img class="grid-item fade-in" src="/Images/Projects/nike/Nike-Shopping-Items-Mobile.jpg">
                <img class="grid-item fade-in" src="/Images/Projects/nike/Nike-Footer-Mobile.jpg">
            </div>
            <img class="project-img fade-in" src="/Images/Projects/nike/Nike-Shopping-Page.jpg">

       <ProjectPreview url1={url1} url2={url2} url3={url3} url4={url4}>
            <h4 slot="project-1" class="project-preview-title">Loyola University Marketing</h4>
                <div slot="project-1" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/loyola/Loyola-Project-Cover.jpg"></div>
            <h4 slot="project-2" class="project-preview-title">Insert Coin x SXSW</h4>
               <div slot="project-2" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/Insert-Coin/Insert-Coin-Project-Cover.jpg"></div>
            <h4 slot="project-3" class="project-preview-title">Geneva Trading</h4>
                <div slot="project-3" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/Geneva-Trading/GT-Project-Cover.jpg"></div>
            <h4 slot="project-4" class="project-preview-title">Agent 511</h4>
                <div slot="project-4" class="image-reveal"><img class="project-preview-img" src="/Images/Projects/Agent-511/Agent-511-Project-Cover.jpg"></div>
        </ProjectPreview>

	</main>
    <IntersectionObserver></IntersectionObserver>
    <BacktoTop></BacktoTop>
    <Footer></Footer>
</BaseLayout>
