---
// Your component script here!
---
<style>
    /* Layout Styles */
    #footer {border-top: solid black 1px; width: 80%; padding-block: 2rem; margin: auto; max-width: 1440px; clear: both;}
    .footer-bottom {padding-block: 2rem;}

    /* Type Styles */
    h5.footer-title { font-weight: 700; margin-block: 1rem; font-size: var(--step-1); }
    a.footer-email { font-size: var(--step-0); font-weight: 100; text-decoration: underline;}
  </style>

 <!-- DARK MODE -->
  <style is:global>
  /* DARK MODE LAYOUT */
  body.dark-mode #footer {border-top: solid whitesmoke 1px; width: 80%; padding-block: 2rem; margin: auto; max-width: 1440px;}

/* Type Styles */
body.dark-mode h5.footer-title {font-weight: 700; margin-block: 1rem; font-size: var(--step-1); color: whitesmoke;}
body.dark-mode a.footer-email {font-size: var(--step-0); font-weight: 100; text-decoration: underline; color: whitesmoke;}
body.dark-mode .footer-bottom h6 {color: whitesmoke;}
  </style>
  
 <section id="footer">
    <div class="footer-wrapper">
        <h5 class="footer-title">Matthew Michael Morrison</h5>
        <a href="mailto:matthew.m.morrison23@gmail.com" class="footer-email">matthew.m.morrison23@gmail.com</a>
            <div class="footer-bottom">
                <h6 class="copyright-text">All rights reserved Matthew Michael Morrison 2023</h6>
                <div class="social icons"></div>
            </div>
    </div>
 </section>