---
import Blobity from 'blobity';
---
<style>
    /* scoped to the component, other H1s on the page remain the same */
    .container { width: 100%; height: 100%; background: salmon; position: fixed; top: 0; right: 0; clip-path: circle(25px at calc(100% - 240px) 95px); transition: all 500ms ease-in-out; display: flex; align-items: center; justify-content: center; z-index: 1;}
    input[type="checkbox"]:checked ~ .container {clip-path: circle(100%);}
    input {display: none;}
    label {z-index: 40; width: 50px; height: 50px; position: absolute; top: 70px; right: 220px; color: black; text-align: center; display: flex; align-items: center; justify-content: center;}
    .menu {display: flex; margin: 0 auto; width: 100%; justify-content: center;}
    .column-1, .column-2 {display: flex; flex-direction: column; margin: 2rem;}
    /* Menu Items Styles */
    .category-heading, .category-link {font-weight: 700; font-size: var(--step-4); margin-block: 2rem; color: whitesmoke;}
    .column-1 a, .column-2 a {margin-block: 1rem; font-size: 2rem; font-weight: 400; color: whitesmoke;}
  </style>
  
 <input type="checkbox" id="burstMenu" onclick="invertFunction()"> 
 <label for="burstMenu"><i>M</i></label>

<div class="container">
    <div class="menu">
        <div class="column-1">
            <h4 class="category-heading">Work</h4>
        <a href="#/">Design</a>
        <a href="#/">Film & Video</a>
        <a href="#/">Comics</a>
        <a href="#/">Art</a>
        <a href="#/" class="category-link">Blog</a>
        </div>
        <div class="column-2">
            <h4 class="category-heading">About</h4>
        <a href="#/">Me</a>
        <a href="#/">Resume</a>
        <a href="#/">Comyx</a>
        <a href="#/">Common Fate</a>
        <a href="#/">Chuffed</a>
        <a href="#/" class="category-link">Contact</a>
        </div>
    </div>    
</div>

<script>
	function invertFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("burstMenu");

  function invertFunction() {
              var checkBox = document.getElementById("burstMenu");
              if(checkBox.checked){
                alert("subcribe");
              }  else{
                  alert("descuscribe");
              };
            };

}
</script>