---
const {
	title = 'Matthew Michael Morrison: Personal Hub Site',
	description = 'The personal site of Matthew Michael Morrison.',
} = Astro.props;


---

<meta charset="UTF-8" />
<meta name="author" content="Matthew Michael Morrison">
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="stylesheet" href="https://use.typekit.net/xif2zdn.css">
<script src="https://cdn.blobity.dev/by.js?autoStart&licenseKey=..."></script>

<!-- or create instance manually to provide custom options -->
<script src="https://cdn.blobity.dev/by.js"></script>
<script>
    const blobity = new Blobity({
        licenseKey: '...'
    });
</script>
