---
const {url} = Astro.props
---
<style>
    /* scoped to the component, other H1s on the page remain the same */
    #project-preview {padding-block: 1rem;}
    .preview-item {border-bottom: solid black 1px;}
    .last-item {border-bottom: none;}
    #project-preview h3 {margin-inline: 1rem; margin-bottom: 4rem; font-size: var(--step-4);}
  </style>
  
  <section id="project-preview">
    <div class="project-preview-wrapper">
        <h3>See More Projects</h3>
        <div class="preview-item" id="project-item-1"><a href="{url}"><slot name="project-1"></slot></a></div>
        <div class="preview-item" id="project-item-2"><slot name="project-2"></slot></div>
        <div class="preview-item" id="project-item-3"><slot name="project-3"></slot></div>
        <div class="preview-item last-item" id="project-item-4"><slot name="project-4"></slot></div>
    </div>
  </section>