---
// Your component script here!
---
<style>
    /* scoped to the component, other H1s on the page remain the same */
    .project-intro-wrapper {width: 100%;}
    .project-intro {display: flex;}
    .intro-left, .intro-right {margin-inline: 1rem;}
    .intro-left {width: 70%;}
    .intro-right {width: 30%;}

/* MOBILE */
    @media screen and (max-width: 600px) {
	    .project-intro {display: block;}
      .intro-left, .intro-right {width: 100%;}
}

  </style>
  
  <div class="project-intro-wrapper">
    <slot name="project-title"></slot>
    <div class="project-intro">
    <div class="intro-left">
        <slot name="project-intro"></slot>
    </div>
    <div class="intro-right">
        <slot name="project-credits"></slot>
        </div>
    </div>
  </div>