---
// Your component script here!
---
<style>
    /* scoped to the component, other H1s on the page remain the same */
    .project-card {width: 100%; margin-block: 3rem;}
  </style>
  
  <div class="project-card">
    <slot></slot>
  </div>