---
import { animate } from "motion"
---
<style>
	/* Input Label Container Styles */
	input {display: none;}
	#Burst-Menu:checked ~ .container {clip-path: circle(100%);}
    label {z-index: 5; width: 50px; height: 50px; border-radius: 50px; position: fixed; top: 64px; right: 200px; color: black; text-align: center; display: flex; align-items: center; justify-content: center;}

	/*Container Styles */
	    /* scoped to the component, other H1s on the page remain the same */
	.container { width: 100%; height: 100%; background: salmon; position: fixed; top: 0; right: 0; clip-path: circle(25px at 110% 8px); transition: all 500ms ease-in-out; display: flex; align-items: center; justify-content: center;}
    .menu {display: flex; margin: 0 auto; width: 100%; justify-content: center;}
    .column-1, .column-2 {display: flex; flex-direction: column; margin: 2rem;}
    /* Menu Items Styles */
    .category-heading, .category-link {font-weight: 700; font-size: var(--step-4); margin-block: 2rem; color: whitesmoke;}
    .column-1 a, .column-2 a {margin-block: 1rem; font-size: 2rem; font-weight: 400; color: whitesmoke;}

	    /* scoped to the component, other H1s on the page remain the same */
		.main-top-nav {height: 2rem; margin-block: 2rem; width: 100%; z-index: 5; position: fixed;}
    .navigation {padding: 0.5rem; display: flex; align-items: center; justify-content: space-between; width: 80%; margin: 0 auto;}
    .site-logo, .menu-burst {width: 100px; position: relative;}
    #Black-Burst {position: absolute; top: -40px; scale: 1.25; transition: all 0.5s;}
    #Red-Burst, #Green-Burst, #Blue-Burst {position: absolute; top: -40px; left: 0; bottom: 0; right: 0; mix-blend-mode: lighten; transition: all 0.5s;}
	.menu-burst {pointer-events: all;}
    .menu-burst:hover #Red-Burst {left: -32px; top: -56px; filter: blur(2px);}
    .menu-burst:hover #Green-Burst {right: -32px; top: -56px; filter: blur(2px);}
    .menu-burst:hover #Blue-Burst {top: -16px; filter: blur(2px);}
    .menu-burst:hover #Black-Burst {scale: 1.5;}
    #Blue-Burst {z-index: 1;} #Green-Burst {z-index: 2;} #Red-Burst {z-index: 3;} #Black-Burst {z-index: 10;}

    /* Logo Scale Animation */
    .site-logo svg {transition: all 0.5s;}
    .site-logo:hover svg {scale: 1.125;}

  </style>
  
<section client:load class="main-top-nav light-nav">
    <div class="navigation">
        <div class="site-logo">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:none;stroke:#231F20;stroke-width:3.5;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st2{fill:none;stroke:#231F20;stroke-width:3.25;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st3{fill:none;stroke:#231F20;stroke-width:3;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st4{fill:none;stroke:#231F20;stroke-width:2.75;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st5{fill:none;stroke:#231F20;stroke-width:2.5;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st6{fill:none;stroke:#231F20;stroke-width:2.25;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st7{fill:none;stroke:#231F20;stroke-width:2;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st8{fill:none;stroke:#231F20;stroke-width:1.75;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st9{fill:none;stroke:#231F20;stroke-width:1.499;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st10{fill:none;stroke:#231F20;stroke-width:1.25;stroke-linecap:round;stroke-dasharray:0,6.5;}
	.st11{fill:none;stroke:#000000;stroke-width:17.6808;stroke-miterlimit:10;}
	.st12{fill:url(#SVGID_1_);stroke:#050505;stroke-width:3.3152;stroke-miterlimit:10;}
	
		.st13{fill:url(#SVGID_00000021119675039742659130000018179583053958694038_);stroke:#050505;stroke-width:3.3152;stroke-miterlimit:10;}
	
		.st14{fill:url(#SVGID_00000016048624375428939650000010643660418671368087_);stroke:#050505;stroke-width:3.3152;stroke-miterlimit:10;}
</style>
<pattern  width="83" height="65" patternUnits="userSpaceOnUse" id="Undulating_Fine_Dots" viewBox="1.75 -132.25 83 65" style="overflow:visible;">
	<g>
		<rect x="1.75" y="-132.25" class="st0" width="83" height="65"/>
		<g>
			<line class="st1" x1="84.75" y1="-67.25" x2="84.75" y2="-1.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-67.25" x2="1.75" y2="-1.75"/>
			<line class="st2" x1="6.36" y1="-70.5" x2="6.36" y2="-1.75"/>
			<line class="st3" x1="10.97" y1="-67.25" x2="10.97" y2="-1.75"/>
			<line class="st4" x1="15.58" y1="-70.5" x2="15.58" y2="-1.75"/>
			<line class="st5" x1="20.2" y1="-67.25" x2="20.2" y2="-1.75"/>
			<line class="st6" x1="24.81" y1="-70.5" x2="24.81" y2="-1.75"/>
			<line class="st7" x1="29.42" y1="-67.25" x2="29.42" y2="-1.75"/>
			<line class="st8" x1="34.03" y1="-70.5" x2="34.03" y2="-1.75"/>
			<line class="st9" x1="38.64" y1="-67.25" x2="38.64" y2="-1.75"/>
			<line class="st10" x1="43.25" y1="-70.5" x2="43.25" y2="-1.75"/>
			<line class="st1" x1="84.75" y1="-67.25" x2="84.75" y2="-1.75"/>
			<line class="st2" x1="80.14" y1="-70.5" x2="80.14" y2="-1.75"/>
			<line class="st3" x1="75.53" y1="-67.25" x2="75.53" y2="-1.75"/>
			<line class="st4" x1="70.92" y1="-70.5" x2="70.92" y2="-1.75"/>
			<line class="st5" x1="66.3" y1="-67.25" x2="66.3" y2="-1.75"/>
			<line class="st6" x1="61.69" y1="-70.5" x2="61.69" y2="-1.75"/>
			<line class="st7" x1="57.08" y1="-67.25" x2="57.08" y2="-1.75"/>
			<line class="st8" x1="52.47" y1="-70.5" x2="52.47" y2="-1.75"/>
			<line class="st9" x1="47.86" y1="-67.25" x2="47.86" y2="-1.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-67.25" x2="1.75" y2="-1.75"/>
		</g>
		<g>
			<line class="st1" x1="84.75" y1="-132.25" x2="84.75" y2="-66.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-132.25" x2="1.75" y2="-66.75"/>
			<line class="st2" x1="6.36" y1="-135.5" x2="6.36" y2="-66.75"/>
			<line class="st3" x1="10.97" y1="-132.25" x2="10.97" y2="-66.75"/>
			<line class="st4" x1="15.58" y1="-135.5" x2="15.58" y2="-66.75"/>
			<line class="st5" x1="20.2" y1="-132.25" x2="20.2" y2="-66.75"/>
			<line class="st6" x1="24.81" y1="-135.5" x2="24.81" y2="-66.75"/>
			<line class="st7" x1="29.42" y1="-132.25" x2="29.42" y2="-66.75"/>
			<line class="st8" x1="34.03" y1="-135.5" x2="34.03" y2="-66.75"/>
			<line class="st9" x1="38.64" y1="-132.25" x2="38.64" y2="-66.75"/>
			<line class="st10" x1="43.25" y1="-135.5" x2="43.25" y2="-66.75"/>
			<line class="st1" x1="84.75" y1="-132.25" x2="84.75" y2="-66.75"/>
			<line class="st2" x1="80.14" y1="-135.5" x2="80.14" y2="-66.75"/>
			<line class="st3" x1="75.53" y1="-132.25" x2="75.53" y2="-66.75"/>
			<line class="st4" x1="70.92" y1="-135.5" x2="70.92" y2="-66.75"/>
			<line class="st5" x1="66.3" y1="-132.25" x2="66.3" y2="-66.75"/>
			<line class="st6" x1="61.69" y1="-135.5" x2="61.69" y2="-66.75"/>
			<line class="st7" x1="57.08" y1="-132.25" x2="57.08" y2="-66.75"/>
			<line class="st8" x1="52.47" y1="-135.5" x2="52.47" y2="-66.75"/>
			<line class="st9" x1="47.86" y1="-132.25" x2="47.86" y2="-66.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-132.25" x2="1.75" y2="-66.75"/>
		</g>
		<g>
			<line class="st1" x1="84.75" y1="-197.25" x2="84.75" y2="-131.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-197.25" x2="1.75" y2="-131.75"/>
			<line class="st2" x1="6.36" y1="-200.5" x2="6.36" y2="-131.75"/>
			<line class="st3" x1="10.97" y1="-197.25" x2="10.97" y2="-131.75"/>
			<line class="st4" x1="15.58" y1="-200.5" x2="15.58" y2="-131.75"/>
			<line class="st5" x1="20.2" y1="-197.25" x2="20.2" y2="-131.75"/>
			<line class="st6" x1="24.81" y1="-200.5" x2="24.81" y2="-131.75"/>
			<line class="st7" x1="29.42" y1="-197.25" x2="29.42" y2="-131.75"/>
			<line class="st8" x1="34.03" y1="-200.5" x2="34.03" y2="-131.75"/>
			<line class="st9" x1="38.64" y1="-197.25" x2="38.64" y2="-131.75"/>
			<line class="st10" x1="43.25" y1="-200.5" x2="43.25" y2="-131.75"/>
			<line class="st1" x1="84.75" y1="-197.25" x2="84.75" y2="-131.75"/>
			<line class="st2" x1="80.14" y1="-200.5" x2="80.14" y2="-131.75"/>
			<line class="st3" x1="75.53" y1="-197.25" x2="75.53" y2="-131.75"/>
			<line class="st4" x1="70.92" y1="-200.5" x2="70.92" y2="-131.75"/>
			<line class="st5" x1="66.3" y1="-197.25" x2="66.3" y2="-131.75"/>
			<line class="st6" x1="61.69" y1="-200.5" x2="61.69" y2="-131.75"/>
			<line class="st7" x1="57.08" y1="-197.25" x2="57.08" y2="-131.75"/>
			<line class="st8" x1="52.47" y1="-200.5" x2="52.47" y2="-131.75"/>
			<line class="st9" x1="47.86" y1="-197.25" x2="47.86" y2="-131.75"/>
		</g>
		<g>
			<line class="st1" x1="1.75" y1="-197.25" x2="1.75" y2="-131.75"/>
		</g>
	</g>
</pattern>
<g>
	<path class="st11" d="M176.58,250.17c0,0,72.95-148.61,88.16-138.74"/>
	<g>
		<path d="M307.28,258.03c2.78-13.93,7.57-27.34,12.85-40.45c10.84-26.03,24.24-50.81,41.6-73.2c4.42-5.58,9.1-11.02,14.4-16.02
			c4.07-3.7,8.4-7.55,13.7-9.56c1.75-0.61,4.2-1.04,5.6,0.5c-0.89-0.27-1.69-0.05-2.37,0.32c-2.1,1.27-3.49,3.36-4.91,5.37
			c-1.86,2.79-3.55,5.75-5.18,8.74c-3.27,5.99-6.41,12.1-9.57,18.21C354.09,188.76,334.32,226.08,307.28,258.03L307.28,258.03z"/>
	</g>
	<pattern  id="SVGID_1_" xlink:href="#Undulating_Fine_Dots" patternTransform="matrix(1.9378 0 0 2.1121 7390.394 8799.9453)">
	</pattern>
	<path class="st12" d="M141.88,418.93c-3.64-5.07-28.3-30.61-57.93-32.07c-34.31-1.69-70.18,27.89-75.26,32.07
		c22.49-91.48,44.98-182.97,67.47-274.45c8.56-34.84,33.6-67.04,73.38-63.08h17.44c31.96,0,50.32,30.7,41.76,65.53L141.88,418.93z"
		/>
	
		<pattern  id="SVGID_00000057115661587753531370000017088599376824123568_" xlink:href="#Undulating_Fine_Dots" patternTransform="matrix(1.9378 0 0 2.1121 7530.6255 8799.9453)">
	</pattern>
	
		<path style="fill:url(#SVGID_00000057115661587753531370000017088599376824123568_);stroke:#050505;stroke-width:3.3152;stroke-miterlimit:10;" d="
		M282.11,418.93c-3.64-5.07-28.3-30.61-57.93-32.07c-34.31-1.69-70.18,27.89-75.26,32.07c22.49-91.48,44.98-182.97,67.47-274.45
		c8.56-34.84,33.6-67.04,73.38-63.08h17.44c31.96,0,50.32,30.7,41.76,65.53L282.11,418.93z"/>
	
		<pattern  id="SVGID_00000125580400912603426750000006668555932549576874_" xlink:href="#Undulating_Fine_Dots" patternTransform="matrix(1.9378 0 0 2.1121 7670.8564 8799.9453)">
	</pattern>
	
		<path style="fill:url(#SVGID_00000125580400912603426750000006668555932549576874_);stroke:#050505;stroke-width:3.3152;stroke-miterlimit:10;" d="
		M422.34,418.93c-3.64-5.07-28.3-30.61-57.93-32.07c-34.31-1.69-70.18,27.89-75.26,32.07c22.49-91.48,44.98-182.97,67.47-274.45
		c8.56-34.84,33.6-67.04,73.38-63.08h17.44c31.96,0,50.32,30.7,41.76,65.53L422.34,418.93z"/>
	<path d="M141.88,418.93c-3.64-5.07-18.26-23.85-47.89-25.31c-34.31-1.69-62.78,21.13-67.85,25.31
		c22.49-91.48,44.98-182.97,67.47-274.45c8.56-34.84,41.42-63.08,73.38-63.08h0c31.96,0,50.93,28.24,42.36,63.08L141.88,418.93z"/>
	<path d="M281.83,418.93c-3.64-5.07-18.26-23.85-47.89-25.31c-34.31-1.69-62.78,21.13-67.85,25.31
		c22.49-91.48,44.98-182.97,67.47-274.45c8.56-34.84,41.42-63.08,73.38-63.08h0c31.96,0,50.93,28.24,42.36,63.08L281.83,418.93z"/>
	<path d="M421.78,418.93c-3.64-5.07-18.26-23.85-47.89-25.31c-34.31-1.69-62.78,21.13-67.85,25.31
		c22.49-91.48,44.98-182.97,67.47-274.45c8.56-34.84,41.42-63.08,73.38-63.08h0c31.96,0,50.93,28.24,42.36,63.08L421.78,418.93z"/>
</g>
</svg>
        </div>
        <div class="menu-burst">

            <svg version="1.1" id="Black-Burst" x="0px" y="0px"
            viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
                <path d="M50.5,18.8l12.9-17l-0.4,19.4l22.7-10L72,27.9l26.5-0.3L75.4,37l23.2,9.4L72,46.1l13.6,16.7l-22.7-10l0.4,19.4l-12.9-17
           l-12.9,17l0.4-19.4l-22.7,10L29,46.1L2.4,46.4L25.6,37L2.4,27.6L29,27.9L15.3,11.2l22.7,10L37.6,1.8L50.5,18.8z"/>
            </svg>
            <!-- RED BURST -->
            <svg version="1.1" id="Red-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Red{fill:#FF1919;}
</style>
<path class="Red" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
            <!-- GREEN BURST -->
            <svg version="1.1" id="Green-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Green{fill:#19ff19;}
</style>
<path class="Green" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
            <!-- BLUE BURST -->
            <svg version="1.1" id="Blue-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Blue{fill:#1919ff;}
</style>
<path class="Blue" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
        </div>
    </div>
</section>

<input type="checkbox" id="Burst-Menu"> 
<label for="Burst-Menu"><i>MMM</i></label>
<div class="container">
    <div class="menu">
        <div class="column-1">
            <h4 class="category-heading">Work</h4>
        <a href="/design">Design</a>
        <a href="#/">Film & Video</a>
        <a href="#/">Comics</a>
        <a href="#/">Art</a>
        <a href="#/" class="category-link">Blog</a>
        </div>
        <div class="column-2">
            <h4 class="category-heading">About</h4>
        <a href="#/">Me</a>
        <a href="#/">Resume</a>
        <a href="#/">Comyx</a>
        <a href="#/">Common Fate</a>
        <a href="#/" class="category-link">Contact</a>
        </div>
    </div>    
</div>

<!-- Motion Test - WORKING
<script>
import { animate } from "motion"
animate(
  "#Blue-Burst",
  { x: [0, -100, 100, 0] },
  {
    duration: 2,
    offset: [0, 0.25, 0.75]
  }
)

</script>
 -->