---
import { animate } from "motion"
import Blobity from "blobity";
---
<style>
	/* Input Label Container Styles */
	.Whitesmoke {fill: whitesmoke;}
	.white-logo {fill: whitesmoke;}
	input {display: none;}
	#Burst-Menu:checked ~ .container {clip-path: circle(100%);}
	input[type="checkbox"]:checked ~ .container {clip-path: circle(100%);}
    label {z-index: 5; width: 50px; height: 50px; border-radius: 50px; position: fixed; top: 64px; right: 200px; color: red; text-align: center; display: flex; align-items: center; justify-content: center; visibility: hidden;}

	/*Container Styles */
	    /* scoped to the component, other H1s on the page remain the same */
	.container { width: 100%; height: 100%; background: black; position: fixed; top: 0; right: 0; clip-path: circle(25px at 110% 8px); transition: all 500ms ease-in-out; display: flex; align-items: center; justify-content: center; z-index: 5;}
    .menu-left, .menu-right {display: flex; margin: 0 auto; width: 50%; justify-content: center;}
    .column-1, .column-2 {display: flex; flex-direction: column; margin: 2rem;}
	.column-3 {display: flex; flex-direction: column;}
    /* Menu Items Styles */
	.menu-subhead {display: flex; align-items: center;}
    .category-heading, .category-link {font-weight: 700; font-size: var(--step-4); margin-block: 2rem; color: whitesmoke;}
    .column-1 a, .column-2 a, .column-3 a {margin-block: 1rem; font-size: 2rem; color: whitesmoke;}
	.category-subhead {color: whitesmoke; margin: 0; font-size: var(--step-2); font-weight: 600;} .menu-subhead img {margin: 1rem;}
	.menu-right a h4 {margin:0 0 1rem 0;}

	    /* scoped to the component, other H1s on the page remain the same */
		#top-nav {}
	.main-top-nav {height: auto; margin-block: 2rem; width: 100%; z-index: 5; position: fixed; transition: all 500ms;}
    .navigation {padding: 0.5rem; display: flex; align-items: center; justify-content: space-between; width: 80%; margin: 0 auto;}
    .site-logo, .menu-burst {width: 100px; position: relative;}
    #Black-Burst {position: absolute; top: -40px; scale: 1.25; transition: all 0.5s;}
    #Red-Burst, #Green-Burst, #Blue-Burst {position: absolute; top: -40px; left: 0; bottom: 0; right: 0; mix-blend-mode: lighten; transition: all 0.5s;}
	.menu-burst {pointer-events: all;}
    .menu-burst:hover #Red-Burst {left: -32px; top: -56px; filter: blur(2px);}
    .menu-burst:hover #Green-Burst {right: -32px; top: -56px; filter: blur(2px);}
    .menu-burst:hover #Blue-Burst {top: -16px; filter: blur(2px);}
    .menu-burst:hover #Black-Burst {scale: 1.5;}
    #Blue-Burst {z-index: 1;} #Green-Burst {z-index: 2;} #Red-Burst {z-index: 3;} #Black-Burst {z-index: 10;}
	.menu-nav-divider {display: none;}

    /* Logo Scale Animation */
    .site-logo svg {transition: all 0.5s; mix-blend-mode: difference;}
    .site-logo:hover svg {scale: 1.125;}

	/* Hide the Navigation Bar on Scroll */
	section {--nav-height: 200px;}
	.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
	}

	/* Change Logo and Burst Color on Menu Click */
	#black-path {transition: all 0.5s;}

	/* Dark Mode Styles */
	body.dark-mode #black-path {fill: whitesmoke;}
    body.dark-mode .Black {fill: whitesmoke;}
	body.dark-mode .site-logo svg {fill: whitesmoke;}

/* MOBILE */
@media screen and (max-width: 600px) {
	.site-logo, .menu-burst {width: 85px; position: relative;}
	.container {flex-direction: column; overflow: scroll;}
	.menu-left, .menu-right {flex-direction: column; width: 100%;}
	.column-1, .column-3 {margin: 0 2rem;}
	.menu-left a {margin-top: 1.5rem; margin-bottom: 0; font-size: var(--step-3);}
	.menu-left h4 {margin-top: 2rem; margin-bottom: 1rem; font-size: var(--step-4)}
	.column-3 h4 {font-size: var(--step-3);}
	.column-3 a h4 {font-size: var(--step-2);} .column-3 a h4:first-child {font-size: var(--step-1);}
	.column-3 a {margin-top: 0;}
	.menu-nav-divider {display: block; padding: 5rem; margin: 5rem;}
}
  </style>

<input type="checkbox" id="Burst-Menu"> 
<label for="Burst-Menu"><i>MMM</i></label>
<div class="container">
	<div class="p4 menu-nav-divider"></div>
    <div class="menu-left">
        <div class="column-1">
            <h4 class="category-heading">About</h4>
			<a href="/about-me">Me</a>
			<a href="/Matthew-Morrison-Resume.pdf" download>Resume</a>
			<a href="https://comyxapp.com/" target="_blank">Comyx</a>
			<!-- <a href="#/">Common Fate</a> -->
			<a href="mailto:matthew.m.morrison23@gmail.com">Contact</a>
        </div>
        <div class="column-2">
            <h4 class="category-heading">Work</h4>
			<a href="/design">Design</a>
			<a href="/film-tv">Film & Video</a>
			<!-- <a href="#/">Comics</a>
			<a href="#/">Art</a>
			<a href="#/" class="category-link">Blog</a> -->
        </div>
    </div>  
	<div class="menu-right">
		<div class="column-3">
			<span class="menu-subhead">
				<h4 class="category-subhead">Chicago, IL</h4>
				<img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Round%20Pushpin.png" alt="Round Pushpin" width="40" height="40" />
				</span>
			<a href="mailto:matthew.m.morrison23@gmail.com"><h4>matthew.m.morrison23@gmail.com</h4></a>
			<span class="menu-subhead">
				<h4 class="category-subhead">Social</h4>
				<img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Mobile%20Phone%20with%20Arrow.png" alt="Mobile Phone with Arrow" width="40" height="40" />
			</span>
			<a href="https://www.linkedin.com/in/matthew-michael-morrison/"><h4>Linkedin</h4></a>
			<a href="https://letterboxd.com/mattmikemo/" target="_blank"><h4>Letterboxd</h4></a>
		</div>	
	</div>  
</div>
  
<section client:load class="main-top-nav light-nav" id="top-nav">
    <div class="navigation">

        <div data-no-blobity class="site-logo"><a href="/">
			<svg id="logo" data-no-blobity enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1e3 1e3">
				<style type="text/css">
					.st0{fill:none;}
				</style>
				
					<path class="st0" d="m769.47 668.56c4.16-0.3 6.34 2.62 7.42 5.99 0.23 5.56-2.4 7.69-6.39 8.02-2.31 0.19-4.61-0.02-6.14-1.4l-4.79 14.53c-1.48 4.82-2.72 9.38-3.7 13.67-0.99 4.3-1.48 8.32-1.48 12.06 0 8.04 2.22 14.47 6.66 19.29s10.36 7.24 17.77 7.24c11.18 0 22.73-4.56 34.64-13.66 0.01-0.3 0.02-0.61 0.04-0.93 0.35-5.17 3.21-7.96 7.98-7.13 0.38 0.07 0.75 0.16 1.11 0.27 3.52-3.32 7.07-7.02 10.65-11.11 2.31-2.64 4.6-5.48 6.86-8.49-0.01-0.29-0.01-0.58 0-0.89 0.18-4.57 2.3-8.05 6.56-8.5 11.52-17.6 22.41-40.28 32.66-68.06 0.03-1.97-0.05-3.9-0.24-5.76-1.38 0.91-3.26 1.19-5.18 1.28-3.95-0.24-7.07-1.75-6.85-6.68 0.2-4.33 2.62-7.28 6.66-7.35 1.01-0.02 1.93 0.12 2.76 0.39-1.97-6.08-4.51-10.88-6.21-13.7-6.22-10.31-16.78-14.56-27.27-17.62-10.1-2.94-20.63-1.41-31.29 4.54-2.89 1.61-6.46 3.83-10.13 6.65-0.72 2.99-2.76 4.37-5.55 4.73-1.9 1.8-3.75 3.77-5.47 5.91l-22.05 66.83c0.3-0.05 0.63-0.1 0.97-0.12zm7.15 66.85c-0.49 4.97-4.14 7-8.49 7.46-5.02-0.89-6.47-4.7-6.17-9.44 0.32-5.18 3.2-8 7.98-7.21 4.52 0.76 7.16 4.34 6.68 9.19zm72.15-81.61c-5.18 0.03-8.41-1.73-8.5-7.19-0.06-3.99 2.07-6.28 5.69-6.1 4.05 0.2 8.28 1.34 8.86 6.53 0.52 4.76-2.9 6.34-6.05 6.76zm-2.87-71.03c4.04 0.12 8.37 1.21 8.86 6.57 0.44 4.91-2.37 7.91-6.96 8.86-4.65-0.22-7.18-3.09-7.71-7.95-0.5-4.56 1.4-7.61 5.81-7.48zm-25.17 101.91c-4.76 0.46-7.49-2.37-7.21-7.63 0.24-4.74 2.52-8.36 7.18-8.45 4.59-0.09 6.94 3.26 7.7 8.1-0.37 5.1-3.41 7.57-7.67 7.98zm-7.17-66c0.57-4.68 3-8.16 7.73-7.77 4.55 0.38 6.72 3.83 7.11 8.61-0.84 5.07-4.01 7.42-8.27 7.48-4.81 0.07-7.19-3.18-6.57-8.32zm-26.37 27.45c0.3-4.29 2.51-7.12 6.75-6.76 4.47 0.38 6.92 3.39 7.63 8.25-0.33 4.79-3.32 6.15-7.15 6.13-4.57-0.02-7.6-2.2-7.23-7.62zm-0.33 58.87c0.31-4.88 2.41-8.45 7.49-7.83 4.55 0.56 6.85 3.89 7.39 8.77-0.62 5.2-3.84 7.56-8.17 7.62-4.97 0.07-7.03-3.52-6.71-8.56z"/>
					<path class="st0" d="m555.48 165.46c-0.07-0.62-0.08-1.29-0.04-2.03 0.27-4.13 2.84-5.79 6.31-5.32 3.98 0.53 8.2 1.63 8.18 7.2-0.01 1.83-0.53 3.09-1.32 3.96 7.47 2.76 14 6.34 19.57 10.73 11.01 8.68 21.35 20.32 31.05 34.94 2.6 0.7 4.29 2.71 4.3 6.25 6.03-6.9 12.5-13.17 19.4-18.83-0.4 0.06-0.82 0.11-1.26 0.12-4.79 0.11-8.99-1.95-8.45-8.15 0.43-4.86 2.45-9.6 7.98-9.36 4.64 0.2 8.45 2.45 8.88 8.36-0.23 1.63-0.62 3.11-1.21 4.38 11.26-8.37 23.6-15.22 37.02-20.52 9.28-3.66 18.4-6.63 27.36-8.9-0.22-0.6-0.38-1.26-0.48-1.98-0.72-5.31 2.38-8.41 6.87-9.2-6.15-5.55-12.88-10.43-20.14-14.59-0.98 1.3-2.5 2.1-4.76 2.07-3.85-0.05-6.65-2.52-6.63-7.12 0-0.23 0.02-0.44 0.03-0.66-14.2-6.16-29.94-9.28-46.84-9.28-14.46 0-29.56 2.36-45.12 7 0.21 0.77 0.35 1.59 0.44 2.47-0.77 5.17-3.98 7.55-8.32 7.54-3.71-0.01-5.72-2.07-6.36-5.17-3.06 1.17-6.14 2.42-9.23 3.76-12 5.2-23.18 11.85-33.47 19.88 5.76 0.52 11.17 1.34 16.24 2.45zm112.73-8.35c4.62-0.08 7.51 3.02 7.92 7.91 0.45 5.33-3.1 7.43-7.13 8.7-5.2 0.25-7.25-3.03-7.5-7.94-0.26-4.99 1.77-8.58 6.71-8.67zm-27.93-27.86c3.96-0.12 7.93 0.62 8.8 6.18-0.61 4.52-2.36 8.32-6.8 9.17-5.08 0.97-6.99-2.72-7.39-7.45-0.37-4.23 0.94-7.77 5.39-7.9zm-25.07 27.7c4.57 0.14 7.09 3.33 7.98 8.28-0.17 5.15-3.22 7.67-7.55 8.12-4.95 0.52-7.34-2.73-7.3-7.86 0.03-4.81 1.77-8.69 6.87-8.54z"/>
					<path class="st0" d="m379.84 772.51c-0.62-1.09-0.86-2.51-0.55-4.36 0.47-2.83 1.83-4.84 3.81-5.79l13.68-41.63c-0.91 0.07-1.91-0.14-2.99-0.62-3.8-1.71-5.31-5.03-3.9-9.24 1.3-3.89 4.37-4.35 7.6-3.21 1.31 0.46 2.27 1.11 2.95 1.91l36.61-111.4c-2.75-1.54-3.23-4.46-2.01-8.11 1.53-3.13 3.07-6.71 6.7-6.14l13.22-40.24c-0.75-0.03-1.52-0.12-2.33-0.32-4.17-1.03-5.3-4.29-4.21-8.5 2.03-4.56 4.38-8.82 9.78-6.77 0.59 0.23 1.12 0.53 1.6 0.86l13.8-42c-1.73 1.51-4.2 1.65-6.98 0.72-4.39-1.47-6.5-4.62-5.59-9.27 2.23-4.93 5.5-7.26 9.89-6.04 3.55 0.98 5.06 3.67 5.21 6.87l6.55-19.92 26.71-90.89c2.29-7.77 4.82-15.13 7.55-22.1 0.06-0.51 0.12-1.02 0.17-1.51 1.09-10.72 0.82-19.63-0.81-26.75-1.55 3.62-4.66 5.6-8.52 4.54-5.73-1.59-7.2-6.5-5.82-12.36 1.06-4.49 3.5-7.11 8.03-6.36-1.4-1.79-2.98-3.29-4.72-4.49-4.7-3.21-9.99-4.82-15.92-4.82-7.95 0-15.83 1.73-23.66 5.16-0.05 0.36-0.12 0.73-0.2 1.09-1.22 5.25-5.12 5.91-9.28 4.68-0.28-0.08-0.56-0.18-0.82-0.27-5.24 3.31-10.45 7.4-15.63 12.26-16.29 15.27-29.87 34.97-40.71 59.09l-40.92 126.35c0.22 1.47 0.03 3.15-0.3 4.85-0.65 2.19-1.59 3.87-2.86 4.89l-13.83 42.71c3.27 2.41 5.85 5.33 4.44 9.94-1.47 4.81-5.06 5.89-9.08 4.4l-8.34 25.75-27.41 91.53c0.48 1.05 0.78 2.22 0.93 3.42-0.49 3.48-1.85 5.36-3.79 6.15l-12.84 42.89c0.16 0.05 0.31 0.09 0.47 0.15 4.31 1.71 6.24 5.78 4.89 10.43-1.38 4.76-5.33 5.98-9.67 5.51-0.16-0.07-0.29-0.15-0.44-0.22l-9.48 31.67c-1.15 3.61-2.11 7.12-2.91 10.53 1.26-1.71 3.2-2.54 5.75-1.96 5.05 1.14 6.94 5.28 6.8 10.45-0.96 4.65-3.73 6.94-7.65 6.24-3.85-0.69-5.96-3.13-6.49-6.55-1.36 8.74-1.43 16.7-0.19 23.79 2.07 11.79 6.22 21.33 12.34 28.35 6.12 7.01 13.95 11.81 23.27 14.25 1.58 0.41 3.17 0.75 4.77 1.02-0.48-1.32-0.5-2.9-0.03-4.8 0.99-4 3.79-5.11 7.12-3.94 3.82 1.34 7.73 3.37 6.77 8.78-0.03 0.16-0.07 0.3-0.1 0.45 3.44-0.32 6.88-0.96 10.33-1.94 9.68-2.75 18.84-8.5 27.2-17.09 5.66-5.81 10.41-13.06 14.2-21.66-2.46-1.31-3.71-3.84-3.36-7.28 0.4-3.96 2.89-5.7 6.53-5.17 0.46 0.07 0.88 0.17 1.29 0.28 0.1-0.34 0.21-0.68 0.31-1.02l2.06-7c-0.61-2.09-1.16-4.24-1.59-6.51-1.92-9.77-1.04-21.01 2.6-33.71zm13.59-149.04c-0.45 4.91-3.76 7.25-8.42 7.2-4.52-1.21-6.48-4.56-6.12-9.44 0.33-4.58 2.75-7.16 7.05-6.09 3.93 0.99 7.98 2.97 7.49 8.33zm2.27-45.77c-1.02 4.78-3.6 7.69-8.37 6.24-3.74-1.13-5.99-4.09-4.81-8.53 1.24-4.66 4.54-6.61 8.94-6.46 4.31 1.27 5.12 4.61 4.24 8.75zm1.24-57.33c1.92-4.35 3.95-8.87 9.48-7.19 3.8 1.16 5.55 4.7 4.84 8.78-0.96 5.56-4.64 7.69-9.61 6.7-4.18-0.82-5.67-3.82-4.71-8.29zm17.11 137.75c-0.87 4.91-4.59 5.02-8.31 4.38-3.83-1.08-6.62-3.23-5.51-8.01 0.98-4.2 3.88-6.58 7.86-5.79 4.55 0.9 6.83 4.54 5.96 9.42zm10.38-56.14c-1.25 4.58-4.61 7.02-8.99 6.15-5.66-1.13-6.23-5.83-5.05-10.87 1.06-4.5 4.03-5.74 8.12-4.42 3.59 1.75 7.39 3.72 5.92 9.14zm3.82-45.07c-0.9 4.69-3.26 7.89-8.17 6.59-3.82-1.01-6.15-3.9-5.15-8.31 1.06-4.67 4.32-6.79 8.75-6.75 4.41 1 5.37 4.31 4.57 8.47zm15.38-54.81c-1.39 5.52-5.29 7.24-10.08 5.9-4.13-1.15-5.22-4.45-3.79-8.96 1.95-4.21 4.34-8.4 9.73-6.15 3.61 1.52 5.17 5.12 4.14 9.21zm44.86-135.84c1.98-4.42 5.28-6.71 9.66-5.5 4.76 1.31 5.87 5.69 4.93 10.26-1.09 5.32-4.79 6.58-9.23 5.04-4.29-1.49-6.71-4.48-5.36-9.8zm1.02 60.62c-1.55 4.77-4.53 8.84-9.88 7-5.08-1.75-6.07-6.37-4.87-11.69 2.02-5.07 5.5-7.78 10.48-5.9 4.44 1.67 5.77 6 4.27 10.59zm-20.07-95.08c1.15-4.74 4.54-6.57 8.7-6.62 4.54 1.22 5.41 4.56 4.55 8.71-0.98 4.75-3.49 7.77-8.31 6.37-3.77-1.09-6.02-4.03-4.94-8.46zm-13.92 55.91c2.31-5.41 5.91-7.9 10.7-6.54 5.35 1.51 6.11 6.26 4.73 11.28-1.33 4.8-4.81 6.69-9.19 5.47-4.96-1.39-6.85-5.24-6.24-10.21zm1.77 59.22c-0.65 5.45-4.38 6.64-8.67 5.67-4.19-0.95-7.1-3.45-6.58-8.87 1.62-5.05 4.93-7.85 9.87-6.66 4.54 1.09 5.91 5.32 5.38 9.86zm-20-95.54c1.99-4.52 5.35-6.72 9.7-5.3 4.53 1.48 5.89 5.82 4.9 10.41-1.17 5.45-5.19 6.06-9.45 4.78-4.58-1.39-6.35-4.8-5.15-9.89zm-13.58 55.66c1.75-4.57 5.3-6.12 9.69-5.38 4.63 2.1 5.42 6.44 4.59 10.77-1.07 5.57-5.24 5.99-9.39 4.5-4.28-1.53-6.86-4.73-4.89-9.89zm0.88 60.25c-0.74 5.13-3.94 7.32-8.56 5.75-4.17-1.42-6.82-4.76-5.79-9.65 1.02-4.87 4.64-6.48 9.15-6.09 4.49 1.56 5.86 5.42 5.2 9.99zm-20-94.79c1.29-4.77 4.79-6.58 9.42-6.26 4.58 1.47 5.99 5.35 5.28 10-0.8 5.33-4.3 7.02-8.86 5.67-4.28-1.27-7.29-4.09-5.84-9.41zm-13.76 56.23c1.27-5.31 5.05-7.27 10.01-6.58 4.2 2.02 5.76 5.74 5.01 10.3-0.89 5.41-4.67 6.36-8.92 5.27-4.2-1.09-7.33-3.82-6.1-8.99zm-13.39 55.09c1.76-5.17 5.77-7.4 10.42-5.45 4.1 1.71 5.03 6.08 4.37 10.66-1.86 5.02-5.47 5.71-9.6 4.31-4.21-1.44-6.92-4.44-5.19-9.52zm-12.31 55.86c1.46-4.35 4.06-7.42 9.04-6.08 4.62 2.65 5.96 6.84 4.14 11.97-1.59 4.46-4.89 7.19-9.33 5.78-5.64-1.81-5.49-6.81-3.85-11.67zm0.27 41.75c4.4 1.15 8.74 3.38 6.85 9.65-1.37 4.54-5.03 6.62-9.37 5.64-4.89-1.11-7.2-4.8-7.11-9.65 1.79-5.77 5.53-6.72 9.63-5.64zm-17.67 62.02c1.41-4.46 4.41-7.37 8.99-5.97 4.39 1.34 5.89 5.19 5.42 9.96-1.74 4.79-5.27 6.42-9.46 5.57-4.74-0.95-6.49-4.65-4.95-9.56zm-2.03 50.48c4.51 0.89 6.22 4.68 6.08 9.58-1.28 4.92-4.71 6.69-8.96 6.19-4.75-0.56-6.91-3.92-5.69-9.02 1.1-4.59 3.99-7.66 8.57-6.75zm-18.63-84.06c0.24-4.65 2.67-7.09 6.91-6.01 3.93 1 7.38 3.1 7.53 8.4-1.15 4.58-4.16 5.71-8.04 4.99-3.79-0.7-6.65-2.63-6.4-7.38zm-10.16 54.87c1.07-4.14 3.74-6.44 7.84-5.18 4.32 1.33 6.17 4.8 5.99 9.72-1.19 4.62-4.36 5.33-8.12 4.49-4.48-1-7.06-3.79-5.71-9.03zm-26.63 181.18c-4.9-0.82-6.06-4.77-5.35-9.47 0.72-4.76 3.59-8.19 7.9-7.59 5.18 0.72 6.16 5.74 6.31 10.6-1.44 4.82-4.43 7.21-8.86 6.46zm18.26-63.36c-0.81 4.28-3.34 6.76-7.39 5.98-3.99-0.77-8.08-2.93-7.4-8.07 0.69-5.27 4.8-7.38 9.5-7.59 4.75 1.41 6.19 4.88 5.29 9.68zm2.44-50.33c-4.89-0.99-6.26-4.95-5.03-9.83 1.19-4.72 3.89-7.77 8.76-6.08 4.36 1.51 6.01 5.28 5.66 10.17-1.55 4.96-5.13 6.6-9.39 5.74zm18.31 83.34c-1.41 4.26-4.23 5.78-8.18 4.76-3.49-0.9-5.38-3.44-4.3-7.28 1.3-4.6 4.35-7.22 8.94-5.57 3.37 1.22 4.18 4.43 3.54 8.09zm1.89-49.1c-4.76-1.97-5.42-6.02-4.26-10.57 1.27-4.99 4.59-7.12 9.11-5.29 4.28 1.73 6.22 5.79 4.83 10.42-1.4 4.72-5.38 5.87-9.68 5.44zm20.5 84.75c-1.74 4.79-5.27 6.42-9.46 5.57-4.74-0.96-6.48-4.66-4.94-9.56 1.41-4.46 4.41-7.37 8.99-5.97 4.38 1.34 5.88 5.19 5.41 9.96zm2.42-52.85c-3.75-0.77-6.87-2.55-6.09-7.53 0.68-4.36 3.5-6.8 7.46-6.41 4.72 0.46 6.5 4.2 6.77 8.71-1.15 5.06-4.27 6.03-8.14 5.23zm9.66-54.69c-4.75-0.5-6.97-3.81-5.81-8.93 1.05-4.63 3.94-7.66 8.51-6.86s6.12 4.71 6.29 9.06c-1.31 5.4-4.74 7.17-8.99 6.73zm5.11-67.15c0.66-3.92 3.16-5.71 6.68-4.77 3.94 1.06 7.88 3.08 7.5 8.3-0.34 4.77-3.98 5.6-7.14 5.33-5.09-1.07-7.94-3.49-7.04-8.86z"/>
					<path class="st0" d="m143.81 808.31c-1.93 3.21-5.01 4.23-8.52 3.5-4.74-0.98-6.46-4.72-4.89-9.59 1.42-4.42 4.43-7.38 9.01-5.95 1.29 0.4 2.32 1.03 3.12 1.83-0.27-7.66 0.84-16.07 3.34-25.23l5.86-18.09c-1.46 0.75-3.26 0.96-5.26 0.72-4.91-1.94-6.68-5.86-5.48-11.09 1.06-4.61 4.27-5.6 8.08-4.04 2.46 1.01 4.79 2.33 5.85 4.56l40.89-126.26c-3.04-1.34-5.18-3.95-4.99-8.11 0.27-5.74 4.37-8.06 9.36-7.48 0.22 0.03 0.43 0.07 0.64 0.11l13.75-42.44c-1.75 0.76-3.85 0.53-6.05-0.15-3.82-1.18-5.99-3.9-4.46-8.39 1.35-3.97 4.29-5.97 8.15-5.09 2.74 0.63 4.52 2.15 5.35 4.4l24.22-74.77c0.02-0.21 0.03-0.41 0.07-0.63 0.24-1.56 0.72-2.83 1.39-3.87l14.7-45.38c-2.22-1.72-3.14-4.31-2.41-7.74 1.75-3.66 4.08-5.96 6.95-6.26l13.12-40.5c-0.31-0.06-0.63-0.12-0.97-0.23-3.74-1.16-5.65-4.52-5.01-8.66 0.74-4.84 3.87-7.01 8.39-6.74 0.84 0.27 1.56 0.63 2.16 1.05l0.32-1.1 0.09-0.21c0.22-0.55 0.46-1.08 0.68-1.62l12.18-37.61c-1.56 0.49-3.42 0.31-5.38-0.45-4.25-1.63-6.85-4.79-4.89-9.94 1.75-4.6 5.33-6.09 9.75-5.36 2.13 1.01 3.51 2.45 4.26 4.17l33.02-101.96c3.22-9.62 7.33-17.52 12.3-23.73-0.08-0.73-0.06-1.51 0.05-2.32 0.71-5.09 4.26-6.78 8.42-6.8 0.26 0.09 0.5 0.18 0.73 0.28 1.65-1.19 3.36-2.27 5.14-3.19 6.57-3.41 13.21-5.63 19.92-6.66-0.1-0.83-0.06-1.75 0.12-2.74 0.82-4.54 3.47-6.34 7.62-5.69 3.4 1.09 5.4 3.37 4.53 7.35-0.04 0.18-0.09 0.35-0.13 0.52 1.4 0.08 2.8 0.21 4.21 0.39 12.13 1.58 23.2 5.89 33.19 12.92 0.08-0.77 0.26-1.57 0.53-2.37 1.49-4.33 4.04-7.36 8.91-6.42 4.07 2.01 4.43 5.61 3.18 9.55-0.96 3-2.56 5-4.78 5.6 6 5.67 10.1 11.83 12.27 18.5 0.49-1.07 3.08-3.74 7.77-8.04 4.68-4.28 10.85-8.7 18.51-13.26 5.54-3.29 11.93-6.24 19.15-8.84-6.67-9.19-13.63-16.95-20.82-23.17-11.92-10.3-28.77-16.38-50.1-18.07-12.35-1.12-23.83 0.01-34.16 3.37-10.48 3.41-19.53 7.57-26.9 12.38-7.39 4.83-13.41 9.56-17.89 14.06-5.81 5.83-6.8 7.37-6.94 7.62l-4.16 10.09-3.04-10.69c-2.69-9.08-8.82-17.43-18.21-24.8-7.14-5.6-14.94-9.61-23.29-11.97 0.39 1.37 0.2 2.92-0.56 4.61-1.8 4.01-4.94 5.45-8.73 3.66-3.49-1.65-3.73-5.01-2.48-8.44 0.27-0.75 0.59-1.38 0.95-1.92-1.62-0.16-3.24-0.25-4.85-0.25-9.1 0-18.14 2.53-26.96 7.56-9.9 5.66-17.7 16.47-23.22 32.15 1.47 2.11 1.78 4.78 1.11 7.69-0.8 3.45-2.68 5.32-5.18 5.55l-11.49 38.94c2.41 1.66 2.75 4.47 1.85 7.86-0.94 3.52-2.88 5.92-6 6.2l-11.9 40.33c0.07 0 0.12-0.01 0.19 0 4.33 1.81 5.07 5.24 4.09 9.39-0.97 4.15-3.1 6.95-7.47 6.17-0.47-0.08-0.9-0.2-1.3-0.34l-11.98 40.6c0.9-0.24 1.87-0.37 2.91-0.37 5.01 1.56 7.02 5 6.19 9.85-0.88 5.1-3.7 9.28-8.86 8.65-2.17-0.26-3.75-1.21-4.82-2.59l-12.6 42.68c1.69-1.77 4.1-2.45 6.88-1.94 4.86 0.89 5.81 5.16 5.92 9.71-1.11 5.52-4.56 6.84-8.99 5.84-3.33-0.75-5.66-2.61-6.17-5.63l-39.99 135.52c0.53 1.45 0.8 3.13 0.82 4.99-0.62 3.09-2.05 5.01-4.04 5.93l-12.06 40.88c3.91 1.32 5.59 4.85 5.57 9.6-1.1 5.01-4.54 6.83-8.87 6.35-0.48-0.05-0.92-0.14-1.33-0.25l-12.2 41.34c1.93-0.74 4.22-0.76 6.44-0.46 4.58 0.62 7.41 3.57 5.97 8.93-1.39 5.17-4.82 7.82-10.14 7.39-2.34-0.99-4.44-2.37-5.69-4.29l-37.6 127.42c0.8 1.4 1.21 3.14 1.22 5.13-0.79 3.07-2.3 4.69-4.29 5.28l-2.26 7.65c-3.7 14.91-4.2 28.12-1.43 39.1 2.75 10.92 7.47 19.75 14.05 26.24 6.62 6.52 14.62 10.94 23.78 13.13 9.16 2.18 18.48 1.76 27.68-1.24 7.39-2.43 14.51-6.6 21.24-12.43 0.02-0.13 0.02-0.25 0.04-0.37 0.72-4.53 2.96-8.02 7.59-7.21 6.85-7.97 12.22-18.27 15.96-30.67l2.15-7.29c-0.39-1.15-0.75-2.32-1.09-3.52-0.2-0.8-0.39-1.59-0.57-2.38zm315.51-656.1c1.58-4.04 3.43-8.33 8.22-7.49 4.29 0.75 5.06 4.67 4.17 8.83-1.03 4.81-3.57 7.62-8.42 6.28-3.6-0.99-4.73-3.79-3.97-7.62zm-51.38-14.79c1.57-4.04 3.43-8.33 8.22-7.49 4.29 0.75 5.06 4.67 4.17 8.83-1.03 4.81-3.57 7.62-8.42 6.28-3.6-0.99-4.73-3.79-3.97-7.62zm-263.47 522.06c-1.28 4.58-5.25 6.33-9.45 5.37-4.88-1.12-5.62-5.33-4.68-9.91 0.98-4.72 3.63-7.3 8.07-6.65 5 2.17 7.52 5.97 6.06 11.19zm2.08-50.96c-5.14-0.86-6.56-4.52-5.92-9.38 0.65-4.96 3.29-8.04 8.15-7.07 4.55 0.91 6.82 4.56 6.34 9.44-0.53 5.31-4.39 6.61-8.57 7.01zm19.25 83.85c-1.55 5.1-5.24 7.74-10.2 6.68-5.19-1.11-7.41-5.06-5.79-10.58 1.44-4.91 4.42-8.13 9.45-7.05 4.59 2.34 8.33 5.05 6.54 10.95zm11.26-58.12c-1.2 5.91-5.09 7.46-9.94 6.83-4.25-0.55-8.15-2.67-7.62-7.98 0.65-6.53 5.26-8.37 10.67-7.58 4.46 0.66 7.17 3.41 6.89 8.73zm7.79-56.04c-0.7 4.58-2.76 8.39-7.78 7.23-3.77-0.87-6.06-3.89-5.21-8.39 0.88-4.7 3.68-7.33 8.23-7.5 4.22 1.18 5.39 4.55 4.76 8.66zm5.06-58.97c-1.44 5.42-4.55 7.11-9 5.48-3.55-1.3-6.43-3.84-4.98-8.32 1.37-4.22 4.64-7.22 8.95-6.5 4.87 0.81 5.58 5.07 5.03 9.34zm15.78-54.32c-1.96 4.62-5.11 8.29-10.14 6.51-5.12-1.8-5.45-7.14-4.6-12.03 0.85-4.93 3.73-7.81 8.58-5.92 4.66 1.82 6.88 5.7 6.16 11.44zm-1.61-60.36c2.3-5.28 5.95-7.78 10.65-5.88 4.13 1.67 5.5 6.08 4.35 10.57-1.33 5.22-5.25 5.77-9.4 4.46-4.27-1.35-6.47-4.38-5.6-9.15zm28.9-52.04c-0.45 5.16-3.68 7.62-8.24 6.95-5.02-0.74-7.66-4.16-7.3-9.84 1.61-5.37 4.98-8.16 9.97-7.05 4.65 1.04 5.97 5.36 5.57 9.94zm-1.41-59.8c1.37-4.79 4.91-6.45 9.47-6.12 4.59 1.57 5.96 5.47 5.2 10.11-0.88 5.34-4.43 6.92-8.96 5.51-4.26-1.33-7.23-4.17-5.71-9.5zm-6.81 205.89c-2.34 5.79-6 7.56-10.77 5.89-4.16-1.45-4.9-4.97-3.23-9.01 1.66-4.02 3.98-7.69 8.78-6.25 4.55 1.38 5.43 5.41 5.22 9.37zm13.28-53.52c-1.04 4.98-4.31 7.42-8.91 5.6-4.85-1.92-6.12-6.41-5.51-11.68 1.63-4.72 4.75-7.3 9.21-5.62 4.91 1.84 6.28 6.56 5.21 11.7zm13.75-56.04c-1.34 5.56-5.11 7.72-10.08 5.63-4.43-1.86-7.2-5.3-5.9-10.68 2.45-4.83 5.16-8.72 10.47-6.41 4.59 1.98 6.79 6.15 5.51 11.46zm13.51-56.69c-1.96 4.48-4.59 6.67-8.65 5.22-4.21-1.51-6.86-4.81-5.71-9.72 1.04-4.47 4.58-5.48 8.41-4.36 4.33 1.26 6.65 4.24 5.95 8.86zm44.97-135.72c1.85-4.54 5.7-6.38 9.87-4.6 4.26 1.82 5.07 6.2 4.41 10.84-2.1 5.03-5.86 5.5-9.98 3.97-4.5-1.69-6.26-5.41-4.3-10.21zm1.14 60.25c-2.08 5.04-5.84 5.58-9.98 4.06-4.53-1.67-6.31-5.41-4.37-10.22 1.83-4.56 5.7-6.41 9.89-4.66 4.29 1.79 5.16 6.14 4.46 10.82zm-20.15-94.62c1.02-4.9 4.71-6.35 8.71-6.26 4.89 1.76 6.31 5.59 5.64 10.16-0.75 5.11-3.93 7.32-8.56 5.75-4.2-1.43-6.81-4.75-5.79-9.65zm-13.81 55.39c1.66-4.63 5.22-6.19 9.7-5.51 4.46 1.99 5.75 5.96 4.69 10.53-1.21 5.24-4.94 6.48-9.34 4.85-4.27-1.58-6.91-4.7-5.05-9.87zm1.34 58.23c-0.67 5.35-4.12 7.17-8.73 5.92-4.3-1.17-7.05-3.91-6.2-9.33 1.63-4.62 4.81-7.04 9.25-6.32 4.95 0.81 6.27 5.08 5.68 9.73zm-20.02-93.2c1.09-4.84 4.68-6.45 9.18-6.01 4.45 1.68 5.86 5.52 5.14 10.09-0.81 5.11-4.03 7.25-8.64 5.62-4.15-1.47-6.79-4.79-5.68-9.7zm-0.43 56.27c-0.68 4.01-2.29 7.7-6.87 6.91-4.71-0.81-6.77-4.41-5.87-9.43 0.8-4.44 3.96-5.98 7.23-6.25 5.02 1.18 6.24 4.49 5.51 8.77zm-18.1-89.99c1.22-4.2 3.31-8.35 8.09-7.62 4.36 0.67 4.9 4.66 4.46 8.07-1.3 5.45-3.7 8.39-8.58 7.08-3.57-0.95-5.06-3.77-3.97-7.53zm-14.34 54.31c1.48-4.6 4.79-6.4 9.3-5.89 4.17 1.57 4.63 5.06 3.63 9.07-1.19 4.8-3.92 7.42-8.64 5.64-3.75-1.41-5.7-4.46-4.29-8.82zm-12.53 54.51c1.4-4.32 3.88-7.56 8.86-6.57 4.04 2.01 4.38 5.57 3.33 9.61-1.1 4.25-3.59 6.67-7.81 5.63-4.25-1.05-5.78-4.33-4.38-8.67zm-13.96 55.12c1.02-4.95 4.55-6.62 8.56-6.38 4.94 2 6.47 5.84 5.82 10.47-0.73 5.21-3.97 7.41-8.64 5.77-4.22-1.49-6.77-4.89-5.74-9.86zm-14.3 55.84c0.88-4.8 3.57-7.57 8.44-6.93 5.36 1.66 6.54 5.98 5.67 11.2-0.76 4.57-2.96 8.67-7.8 7.77-5.96-1.12-7.38-6.22-6.31-12.04zm-14.19 56.59c1.36-4.82 4.34-8.24 9.72-7.18 4.57 2.15 7.2 5.77 5.99 11.17-1.13 5.05-4.04 8.94-9.42 6.78-4.21-1.69-7.91-5.03-6.29-10.77zm-11.98 54.1c1.61-4.52 5.57-6.3 9.72-4.52 4.29 1.84 4.88 6.2 4.19 10.76-1.59 4.08-4.35 6.04-8.31 4.59-4.69-1.71-7.56-5.35-5.6-10.83zm1.2 56.44c4.36 1 6.71 4.43 5.62 9.33-1.03 4.6-4.57 4.98-8.26 4.43-3.61-1-6.76-2.69-5.87-7.52 0.89-4.84 4.06-7.26 8.51-6.24zm-20.82-90.41c1.29-4.77 4.78-6.58 9.41-6.26 4.54 1.5 6 5.34 5.29 10.01-0.81 5.33-4.31 7.01-8.86 5.66-4.27-1.28-7.28-4.1-5.84-9.41zm-12.67 56.4c1.49-4.04 3.56-8.19 8.51-6.74 4.39 1.29 4.09 5.41 3.81 8.23-1.71 5.91-4.5 8.24-9.19 6.5-3.61-1.34-4.43-4.47-3.13-7.99zm-6.94 63.51c0.41-4.22 2.33-7.42 6.72-6.6 3.9 0.73 7.67 2.3 7.51 7.94-1.42 4.3-3.82 7.66-8.33 7.54-5.16-0.14-6.36-4.16-5.9-8.88zm-11.95 55.72c1.3-4.67 4.14-8.89 9.52-7.48 4.51 1.18 7.84 4.2 7.19 10.09-1.69 5.08-4.86 8.16-9.9 7.18-4.72-0.91-8.47-3.82-6.81-9.79zm-10.21 57.17c1.47-5.38 5.52-7.03 10.4-6.69 4.44 1.48 7 4.7 5.73 9.64-1.39 5.43-5.65 7.2-10.44 6.36-4.63-0.81-7.08-4.21-5.69-9.31zm-29.99 23.24c0.51-4.54 2.46-8.46 7.39-7.89 5.09 0.59 7.28 4.44 7.36 9.95-1.09 4.88-4.43 6.79-8.64 6.68-5.03-0.15-6.65-3.94-6.11-8.74zm-6.42 115.32c-0.82 4.89-4.44 5.05-8.13 4.45-4.48-1.24-6.89-4.08-5.48-9.23 1.14-4.16 3.89-6.33 7.94-4.94 4.22 1.44 6.47 4.93 5.67 9.72zm2.09-49.69c-4.3-2.02-9.07-4.25-7.69-10.91 1-4.82 4.8-6.7 9.11-5.96 5.59 0.95 8.45 4.89 7.59 11.03-0.74 5.24-4.26 6.66-9.01 5.84zm18.63 84.88c-1.32 4.55-5.28 5.83-9.53 5.39-4.73-1.71-5.58-5.57-4.55-10.14 1.05-4.65 3.65-7.77 8.43-6.21 4.86 1.58 7.15 5.79 5.65 10.96zm10.37-59.78c-0.58 5.26-3.81 8.87-8.99 8.37-5.26-0.5-5.91-4.97-5.23-9.62 0.67-4.59 2.63-8.06 7.28-8.33 4.28 1.83 7.47 4.69 6.94 9.58zm3.24-48.01c-5.18-0.63-7.38-4.47-6.84-9.93 0.45-4.59 3.11-6.38 7.23-5.75 4.15 1.82 8.46 3.68 7.32 9.79-0.79 4.23-3.92 6.35-7.71 5.89zm16.76 83.45c-1.7 5.05-4.01 8.37-8.93 6.52-3.85-1.44-5.55-4.71-4.22-9.04 1.38-4.51 4.27-7.49 8.91-6.15 4.25 1.23 4.45 5.23 4.24 8.67zm11.32-56.72c-2.26 4.41-4.79 8.16-9.42 6.54-4.41-1.54-5.62-5.84-4.44-10.51 1.2-4.75 4.48-5.47 8.32-3.93 3.49 1.39 6.22 3.54 5.54 7.9zm0.8-49.55c-4.81-1.29-5.42-5.6-4.39-10.12 1.08-4.74 3.85-7.14 8.21-6.35 4.93 2.37 7.42 6.17 5.77 11.37-1.43 4.52-5.44 6.21-9.59 5.1z"/>
					<path class="st0" d="m691.72 828.66c-0.55 0.21-1.13 0.38-1.74 0.51-4.9 1.02-7.31-2.28-7.72-7.09-0.01-0.08-0.01-0.16-0.02-0.24-1.91-1.52-3.78-3.1-5.59-4.74-5.56-5.03-10.57-10.59-15.04-16.68-4.64-0.13-6.09-4.14-6.07-8.66 0-0.15 0.01-0.31 0.01-0.46-2.58-4.3-4.92-8.83-7.04-13.59-1.77-3.97-3.3-8.08-4.62-12.32-0.7 3.85-3.54 5.71-7.43 6.08-5.16-0.86-7.61-4.32-7.38-9.7 0.2-4.75 3.17-6.4 7.19-5.68 2.13 0.38 4.21 0.99 5.69 2.28-2.54-10.45-3.81-21.68-3.81-33.7 0-3.66 0.12-7.36 0.36-11.08-0.98 0.37-2.08 0.57-3.3 0.58-5.29 0.01-8.18-3.38-7.59-9.14 0.53-5.13 2.87-8.92 7.99-8.93 1.67 0.45 3.25 0.97 4.58 1.69 1.7-11.42 4.47-23.09 8.32-35.01l11.69-35.95c-3.26-0.65-5.87-2.75-6.44-6.9-0.78-5.68 2.82-8.84 7.83-9.33 1.42-0.14 2.67 0 3.77 0.37l23-70.77v-0.1c0.1-2.55 0.75-4.97 2.16-6.56l24.59-75.67c-0.39-1.35-0.52-2.9-0.42-4.52 0.21-3.68 1.51-6.6 4.33-7.48l23.62-72.66c-0.76-1.23-1.21-2.83-1.36-4.66-0.37-4.41 0.68-8.62 5.35-9.41l3.72-13.25c0.69-3.78 1.06-7.48 1.06-11.08 0-6.2-0.9-11.77-2.68-16.71-0.34 0.07-0.68 0.12-1.03 0.16-4.58 0.55-7.54-2-8.03-7.35 0.22-2.03 0.8-3.74 1.68-5.11-6.36-6.91-14.6-10.38-24.73-10.38-16.78 0-33.44 8.04-49.97 24.12-10.49 10.2-19.53 22.99-27.14 38.37 0.28-0.11 0.58-0.21 0.9-0.3 4.53 0.88 8.17 3 8.53 7.91 0.39 5.28-2.13 9.51-7.3 10.13-4.93 0.59-6.5-3.12-6.82-7.47-2.53 5.97-4.88 12.26-7.03 18.9l-63.96 198.28-7.48 25.26c4.46 0.21 6.92 3.38 7.81 8.27-0.17 5.15-3.22 7.67-7.55 8.12-2.02 0.21-3.61-0.21-4.78-1.12l-14.25 48.13c-2.45 8.33-4.45 16.58-6.02 24.74 3.38 0.85 6.26 2.59 6.21 7.27-0.06 5.13-3.42 7.09-7 7.89-0.56-0.09-1.09-0.21-1.59-0.35-1.18 9.23-1.79 18.31-1.79 27.17 0 4.33 0.15 8.56 0.43 12.71 0.45-0.12 0.92-0.21 1.44-0.26 4.85-0.44 8.24 2.32 8.9 8.06-0.57 5.54-2.76 9.79-8.08 10.42 1.68 9.12 4.13 17.7 7.35 25.66 6.66 16.45 15.82 30.53 27.22 41.85 11.43 11.35 24.95 20.12 40.18 26.08 8.33 3.26 17.01 5.63 25.98 7.13 1.02-1.25 2.54-2.03 4.69-2.04 3.06-0.02 5.26 1.25 6.66 3.45 3.87 0.32 7.78 0.49 11.74 0.49 19.64 0 39.35-4.21 58.58-12.51 8.77-3.79 17.38-8.66 25.77-14.54-6.89-1.37-13.61-3.21-20.16-5.54-9.5-3.48-18.29-7.8-26.37-13.04zm-23.37-308.93c-5.01 0.22-7.05-3.33-6.86-8.39 0.18-4.99 2.45-8.01 6.82-8.24 4.96 1.07 7.87 3.91 7.91 8.84 0.05 5.32-3.56 7.6-7.87 7.79zm61.17-123.26c-0.39 4.65-3.82 5.83-7.54 5.76-3.82-0.07-6.99-1.55-6.85-6.39 0.14-5.02 3.19-7.28 7-7.89 4.94 0.9 7.81 3.49 7.39 8.52zm-7.73-67.99c5.24 0.16 7.37 4.33 8.08 9.69-0.67 5.43-3.84 8.5-8.71 8.67-5.07 0.18-6.62-3.98-6.6-8.67 0.04-5.15 1.47-9.87 7.23-9.69zm-33.67-20.31c0.2-4.75 3.17-6.4 7.19-5.68 4.01 0.72 7.89 2.24 7.78 7.62-0.1 5.01-3.17 7.35-7.59 7.77-5.17-0.86-7.61-4.33-7.38-9.71zm0.06 58.93c0.6-4.64 3.01-8.18 7.76-7.75 4.55 0.41 6.67 3.92 7.07 8.66-0.84 5.1-4.05 7.4-8.3 7.45-4.82 0.06-7.19-3.25-6.53-8.36zm14.77 58.4c-0.72 4.93-3.63 7.52-7.89 7.9-5.04 0.45-6.86-3.27-6.97-8.01-0.11-4.7 1.51-8.68 6.44-8.71 5.06-0.02 7.77 3.44 8.42 8.82zm-8.65 48.77c4.91 0.41 8.25 3.17 8.46 8.65 0.19 5.05-3.22 7.58-7.39 8.18-5.02 0.72-7.04-2.89-7.27-7.65-0.24-4.64 1.24-8.34 6.2-9.18zm-25.44-12.28c-4.75 0.54-7.52-2.26-7.31-7.51 0.19-4.74 2.49-8.38 7.11-8.55 4.59-0.17 6.95 3.21 7.77 8.04-0.26 5.12-3.34 7.55-7.57 8.02zm-7.26-65.72c0.54-4.72 2.84-8.25 7.63-7.93 4.4 0.3 5.32 4.17 5.73 7.59-0.76 5.31-2.42 9.06-7.58 8.3-4.04-0.59-6.3-3.43-5.78-7.96zm-0.1-59.31c0.32-4.91 3.41-6.32 7.45-5.63 3.67 0.63 6.74 2.15 6.86 6.57-1.42 4.81-3.22 9.03-8.06 8.42-4.6-0.57-6.57-4.53-6.25-9.36zm-5.31 222.88c0.61-4.18 3.13-6.77 7.07-6.72 4.54 0.05 7.02 2.93 7.41 7.97-0.01 0.08-0.03 0.14-0.04 0.21 1.07 0.34 1.98 0.87 2.75 1.56h-3.13c-1.29 3.81-4.5 4.58-8.16 4.26-3.97-0.34-6.58-2.55-5.9-7.28zm-8.65-17.57c-0.38 4.05-1.82 7.86-6.34 7.56-4.19-0.28-6.04-3.67-6.12-7.96-0.08-4.61 2.19-7.07 6.49-7.22 4.34 0.36 6.39 3.05 5.97 7.62zm2.34-58.09c-0.42 4.19-3.23 6.75-7.13 6.71-5.27-0.04-7.8-3.7-7.84-9.07-0.03-4.63 2.62-6.62 7.01-6.28 4.25 0.97 8.59 2.41 7.96 8.64zm-14.96-59.56c0.19-4.78 2.17-8.4 7.14-7.89 5.05 0.52 8.06 4.16 7.52 9.54-0.48 4.74-4.12 6.84-8.37 7.31-4.94-0.66-6.48-4.26-6.29-8.96zm0.89 157.32c4.36 0.26 6.12 3.32 6.24 7.49 0.14 4.64-1.19 8.82-6.32 8.74-3.85-0.05-6.65-2.52-6.63-7.12 0.02-4.79 2.28-7.98 6.71-9.11zm-21.28-135.37c4.36 0.9 8.91 1.87 8.82 8.11-0.06 4.29-2.76 7.03-6.58 7.33-5.2 0.41-8.03-2.9-8.42-8.37-0.33-4.6 1.95-6.94 6.18-7.07zm-33.27 136.26c3.96-0.12 7.93 0.62 8.8 6.18-0.61 4.52-2.36 8.32-6.8 9.17-5.08 0.97-6.99-2.72-7.39-7.45-0.37-4.23 0.94-7.77 5.39-7.9zm-33.78 93.37c0.29-5.83 4.96-7.55 9.53-7.92 4.61-0.37 7.91 1.92 7.47 7.49-0.42 5.37-3.31 8.7-8.6 9.41-4.62-0.88-8.69-3.24-8.4-8.98zm16.69 58c-0.19 5.02-3.12 7.61-7.27 8.39-4.96 0.93-7.23-2.44-7.57-7.26-0.32-4.56 0.88-8.82 5.82-9.32 5.1-0.51 7.95 2.81 9.02 8.19zm-7.21 66.4c-4.58-1.07-9.66-2.24-9.52-9.06 0.11-4.94 3.5-7.59 7.86-7.79 5.66-0.26 9.17 3 9.43 9.2 0.23 5.3-2.97 7.44-7.77 7.65zm25.66 28.56c-5.25 0.63-6.69-3.61-6.86-8.32-0.17-4.64 1.12-8.47 5.63-9.72 4.53 0.88 8.17 3 8.53 7.91 0.39 5.28-2.13 9.51-7.3 10.13zm1.8-57.89c-5.19 0.49-8.05-2.81-8.51-8.28-0.39-4.59 1.9-6.92 6.05-7.18 4.4 0.9 8.96 1.81 8.95 8.04 0 4.31-2.69 7.06-6.49 7.42zm6.48-65.67c-0.38 5.62-4.24 8.26-9.09 8.46-4.7 0.19-7.71-2.62-7.27-7.92 0.47-5.59 4.14-8.07 8.99-8.77 4.62 0.51 7.71 3.11 7.37 8.23zm-8.24-49.53c-4.79 0.11-8.99-1.95-8.45-8.15 0.43-4.86 2.45-9.6 7.98-9.36 4.64 0.2 8.45 2.45 8.88 8.36-0.74 5.34-3.28 9.03-8.41 9.15zm5.69-109.94c-3.37 0.12-6.15-1.41-6.15-5.58 0.01-4.92 2.44-8.13 7.13-8.12 3.62 0.01 5.17 2.91 5.57 6.57-0.22 4.51-2.5 6.99-6.55 7.13zm20.01 311.68c-4.04-0.59-6.29-3.43-5.77-7.96 0.54-4.72 2.84-8.25 7.63-7.93 4.4 0.3 5.32 4.17 5.73 7.59-0.77 5.32-2.43 9.06-7.59 8.3zm0.37-57.9c-4.6-0.58-6.57-4.53-6.25-9.36 0.32-4.91 3.41-6.32 7.45-5.63 3.67 0.63 6.74 2.15 6.86 6.57-1.42 4.8-3.23 9.02-8.06 8.42zm8.37-64.22c-0.59 4.74-4.21 7.25-8.48 7.04-4.95-0.24-6.32-4.33-6.13-8.99 0.2-4.88 2.48-7.82 6.9-7.98 5.26 1.28 8.39 4.47 7.71 9.93zm-7.91-125c4.62-0.08 7.51 3.02 7.92 7.91 0.45 5.33-3.1 7.43-7.13 8.7-5.2 0.25-7.25-3.03-7.5-7.94-0.26-4.99 1.77-8.58 6.71-8.67zm7.96 67.02c-0.43 4.76-4 7.33-8.3 7.28-4.98-0.06-6.48-4.03-6.38-8.72 0.1-4.84 2.24-7.93 6.71-8.24 5.3 1.07 8.46 4.26 7.97 9.68zm-0.04-114.85c-0.87 3.28-3.84 4.16-7.05 4.38-3.72-0.21-7.12-1.19-7.12-6.12 0-4.94 2.68-7.99 7.22-7.94 4.46 0.05 7.38 2.91 7.19 7.95 0 0.08-0.01 0.15-0.02 0.22 1.28 0.3 2.41 0.79 3.33 1.51h-3.55zm6.24-50.01c-0.3 4.17-3.05 6.85-6.98 6.92-5.27 0.1-7.87-3.45-8.04-8.85-0.15-4.64 2.46-6.66 6.48-6.6 4.59 0.96 8.98 2.33 8.54 8.53zm12.86 126.09c4.5-0.31 7.65 1.81 8.33 7.09-0.1 6.05-3.65 8.4-8.52 8.82-4.26 0.37-8.48-0.88-8.91-6.2-0.54-6.54 3.64-9.33 9.1-9.71zm-0.52 190.1c-4.82 0.05-7.19-3.25-6.53-8.36 0.6-4.64 3.01-8.18 7.76-7.75 4.55 0.41 6.67 3.92 7.07 8.66-0.84 5.1-4.05 7.41-8.3 7.45zm34.8 21.01c-0.39 4.65-3.82 5.83-7.54 5.76-3.82-0.07-6.99-1.55-6.85-6.39 0.14-5.02 3.19-7.28 7-7.89 4.95 0.9 7.82 3.49 7.39 8.52zm53-0.58c0.5 5.44-3.14 7.38-7.29 8.5-4.94 0.04-7.44-2.73-7.42-7.92 0.02-4.81 1.71-8.73 6.8-8.64 4.59 0.07 7.47 3.22 7.91 8.06z"/>
					<path d="m297.04 171.91c4.64 1.57 7.81-0.63 8.56-5.75 0.67-4.58-0.75-8.4-5.64-10.16-4-0.08-7.7 1.36-8.71 6.26-1.01 4.91 1.6 8.23 5.79 9.65z"/>
					<path d="m244.21 156.51c4.88 1.31 7.28-1.63 8.58-7.08 0.44-3.42-0.1-7.41-4.46-8.07-4.77-0.73-6.87 3.42-8.09 7.62-1.09 3.75 0.4 6.57 3.97 7.53z"/>
					<path d="m384.52 152.85c-4.16-0.65-6.8 1.15-7.62 5.69-0.18 0.99-0.22 1.91-0.12 2.74 4.02-0.62 8.07-0.8 12.14-0.56 0.05-0.17 0.09-0.34 0.13-0.52 0.87-3.97-1.13-6.26-4.53-7.35z"/>
					<path d="m282.5 227.52c4.4 1.63 8.13 0.39 9.34-4.85 1.05-4.57-0.23-8.55-4.69-10.53-4.48-0.68-8.04 0.88-9.7 5.51-1.86 5.18 0.78 8.3 5.05 9.87z"/>
					<path d="m221.6 172.62c0.67-2.91 0.36-5.58-1.11-7.69-0.54 1.54-1.07 3.11-1.57 4.74l-2.51 8.5c2.51-0.23 4.39-2.1 5.19-5.55z"/>
					<path d="m277.05 135.83c3.79 1.79 6.93 0.35 8.73-3.66 0.76-1.69 0.94-3.24 0.56-4.61-2.82-0.8-5.7-1.41-8.64-1.83-0.73-0.1-1.45-0.19-2.18-0.26-0.36 0.54-0.68 1.17-0.95 1.92-1.25 3.43-1.01 6.79 2.48 8.44z"/>
					<path d="m438.94 174.79c1.25-3.94 0.89-7.54-3.18-9.55-4.87-0.94-7.42 2.09-8.91 6.42-0.28 0.8-0.46 1.6-0.53 2.37 0.16 0.12 0.33 0.22 0.49 0.34 2.71 1.94 5.15 3.95 7.35 6.02 2.21-0.59 3.82-2.59 4.78-5.6z"/>
					<path d="m314.58 206.85c4.12 1.54 7.88 1.07 9.98-3.97 0.66-4.64-0.15-9.01-4.41-10.84-4.17-1.78-8.02 0.06-9.87 4.6-1.97 4.8-0.21 8.52 4.3 10.21z"/>
					<path d="m463.29 159.83c4.86 1.34 7.4-1.47 8.42-6.28 0.89-4.16 0.12-8.09-4.17-8.83-4.79-0.84-6.64 3.45-8.22 7.49-0.76 3.83 0.37 6.63 3.97 7.62z"/>
					<path d="m411.9 145.04c4.86 1.34 7.4-1.47 8.42-6.28 0.89-4.16 0.12-8.09-4.17-8.83-4.79-0.84-6.64 3.45-8.22 7.49-0.75 3.83 0.38 6.63 3.97 7.62z"/>
					<path d="m342.56 177.66c-0.11 0.82-0.13 1.59-0.05 2.32 2.79-3.49 5.86-6.43 9.21-8.85-0.23-0.1-0.47-0.19-0.73-0.28-4.17 0.03-7.72 1.72-8.43 6.81z"/>
					<path d="m264.45 192.39c4.61 1.63 7.83-0.5 8.64-5.62 0.72-4.57-0.69-8.4-5.14-10.09-4.49-0.45-8.08 1.17-9.18 6.01-1.11 4.91 1.53 8.23 5.68 9.7z"/>
					<path d="m230.18 212.1c4.73 1.78 7.45-0.84 8.64-5.64 1-4.02 0.54-7.5-3.63-9.07-4.5-0.5-7.81 1.3-9.3 5.89-1.4 4.36 0.55 7.41 4.29 8.82z"/>
					<path d="m470.93 472.36c-4.39-1.22-7.66 1.11-9.89 6.04-0.91 4.65 1.2 7.81 5.59 9.27 2.77 0.93 5.24 0.79 6.98-0.72l2.54-7.73c-0.16-3.19-1.67-5.88-5.22-6.86z"/>
					<path d="m241.78 476.76 1.46-4.49c-0.67 1.04-1.15 2.31-1.39 3.87-0.04 0.21-0.05 0.41-0.07 0.62z"/>
					<path d="m199.52 453.48c-4.84-1.89-7.73 0.99-8.58 5.92-0.85 4.9-0.51 10.23 4.6 12.03 5.03 1.77 8.18-1.9 10.14-6.51 0.73-5.74-1.49-9.62-6.16-11.44z"/>
					<path d="m177.21 436.12c5.38 2.16 8.29-1.72 9.42-6.78 1.21-5.41-1.42-9.03-5.99-11.17-5.38-1.06-8.36 2.36-9.72 7.18-1.62 5.73 2.08 9.07 6.29 10.77z"/>
					<path d="m145.16 454.87c4.56 1.35 8.05-0.33 8.86-5.66 0.71-4.66-0.76-8.51-5.29-10.01-4.63-0.32-8.12 1.49-9.41 6.26-1.44 5.32 1.57 8.14 5.84 9.41z"/>
					<path d="m219.54 489.24c-4.8-1.45-7.11 2.22-8.78 6.25-1.67 4.04-0.92 7.56 3.23 9.01 4.77 1.67 8.43-0.1 10.77-5.89 0.21-3.96-0.67-7.99-5.22-9.37z"/>
					<path d="m368.98 551.35c4.44 1.42 7.74-1.31 9.33-5.78 1.82-5.13 0.48-9.32-4.14-11.97-4.98-1.34-7.57 1.73-9.04 6.08-1.64 4.87-1.79 9.87 3.85 11.67z"/>
					<path d="m129.78 509.86c4.69 1.75 7.48-0.58 9.19-6.5 0.29-2.82 0.58-6.94-3.81-8.23-4.95-1.45-7.01 2.7-8.51 6.74-1.3 3.52-0.48 6.65 3.13 7.99z"/>
					<path d="m164.54 490.28c3.95 1.45 6.72-0.52 8.31-4.59 0.69-4.56 0.1-8.92-4.19-10.76-4.15-1.78-8.11 0-9.72 4.52-1.96 5.47 0.91 9.11 5.6 10.83z"/>
					<path d="m255.52 419.14c-0.73 3.43 0.19 6.02 2.41 7.74l4.54-14c-2.87 0.3-5.2 2.59-6.95 6.26z"/>
					<path d="m172.64 345.43c5.16 0.63 7.98-3.55 8.86-8.65 0.84-4.84-1.18-8.29-6.19-9.85-1.03 0-2 0.12-2.91 0.37l-4.58 15.54c1.07 1.39 2.65 2.33 4.82 2.59z"/>
					<path d="m159.04 399.14c4.43 1 7.88-0.32 8.99-5.84-0.11-4.55-1.07-8.82-5.92-9.71-2.78-0.51-5.19 0.17-6.88 1.94l-2.36 7.99c0.51 3.01 2.84 4.87 6.17 5.62z"/>
					<path d="m410.23 463.4c-1.03 4.89 1.62 8.23 5.79 9.65 4.62 1.57 7.82-0.62 8.56-5.75 0.66-4.56-0.71-8.42-5.21-9.99-4.5-0.39-8.12 1.22-9.14 6.09z"/>
					<path d="m219.09 409.25c1.14-4.49-0.22-8.91-4.35-10.57-4.7-1.9-8.35 0.6-10.65 5.88-0.87 4.78 1.33 7.8 5.61 9.15 4.14 1.31 8.06 0.76 9.39-4.46z"/>
					<path d="m191.41 380.78c4.85 0.9 7.04-3.2 7.8-7.77 0.87-5.22-0.31-9.54-5.67-11.2-4.87-0.64-7.56 2.13-8.44 6.93-1.06 5.83 0.36 10.93 6.31 12.04z"/>
					<path d="m259.34 323.49c-3.82-1.12-7.37-0.11-8.41 4.36-1.14 4.91 1.51 8.22 5.71 9.72 4.05 1.45 6.69-0.74 8.65-5.22 0.71-4.61-1.61-7.59-5.95-8.86z"/>
					<path d="m391.46 568.96c-4.41-0.15-7.71 1.8-8.94 6.46-1.18 4.43 1.08 7.39 4.81 8.53 4.77 1.44 7.35-1.46 8.37-6.24 0.88-4.15 0.07-7.49-4.24-8.75z"/>
					<path d="m184.88 509.89c-4.31-0.72-7.58 2.28-8.95 6.5-1.45 4.48 1.43 7.03 4.98 8.32 4.45 1.63 7.57-0.06 9-5.48 0.55-4.26-0.16-8.52-5.03-9.34z"/>
					<path d="m345.58 565.3c1.41-4.61-1.17-7.53-4.44-9.94l-4.65 14.34c4.03 1.49 7.61 0.41 9.09-4.4z"/>
					<path d="m435.04 590.06c-1.22 3.65-0.73 6.56 2.01 8.11l4.68-14.25c-3.62-0.57-5.16 3.01-6.69 6.14z"/>
					<path d="m439.48 492.9c-5.39-2.25-7.78 1.93-9.73 6.15-1.42 4.51-0.33 7.81 3.79 8.96 4.79 1.33 8.69-0.39 10.08-5.9 1.04-4.1-0.52-7.7-4.14-9.21z"/>
					<path d="m382.63 493.34c4.13 1.4 7.73 0.72 9.6-4.31 0.67-4.58-0.26-8.95-4.37-10.66-4.65-1.95-8.67 0.28-10.42 5.45-1.73 5.09 0.98 8.09 5.19 9.52z"/>
					<path d="m423.69 548.44c-4.43-0.05-7.69 2.08-8.75 6.75-1.01 4.42 1.33 7.3 5.15 8.31 4.91 1.3 7.26-1.9 8.17-6.59 0.79-4.16-0.17-7.47-4.57-8.47z"/>
					<path d="m411.25 521.96c0.71-4.09-1.04-7.62-4.84-8.78-5.52-1.69-7.56 2.84-9.48 7.19-0.96 4.48 0.54 7.47 4.71 8.3 4.98 0.98 8.65-1.15 9.61-6.71z"/>
					<path d="m232.83 433.39c-4.47-1.68-7.58 0.91-9.21 5.62-0.61 5.27 0.65 9.76 5.51 11.68 4.6 1.82 7.87-0.62 8.91-5.6 1.07-5.14-0.3-9.86-5.21-11.7z"/>
					<path d="m442.03 443.73c-0.52 5.42 2.39 7.92 6.58 8.87 4.3 0.97 8.03-0.22 8.67-5.67 0.54-4.54-0.84-8.76-5.39-9.86-4.92-1.19-8.23 1.61-9.86 6.66z"/>
					<path d="m357.83 507.76c0.33-1.7 0.52-3.38 0.3-4.85l-3.15 9.74c1.26-1.02 2.2-2.7 2.85-4.89z"/>
					<path d="m448.42 534.86c-1.08 4.2 0.04 7.46 4.21 8.5 0.81 0.2 1.58 0.29 2.33 0.32l4.84-14.73c-0.49-0.34-1.01-0.64-1.6-0.86-5.41-2.05-7.75 2.21-9.78 6.77z"/>
					<path d="m205.14 322.76c4.67 1.64 7.91-0.56 8.64-5.77 0.65-4.63-0.88-8.47-5.82-10.47-4.01-0.24-7.53 1.43-8.56 6.38-1.02 4.98 1.53 8.38 5.74 9.86z"/>
					<path d="m474.38 340.27c4.82 1.4 7.33-1.62 8.31-6.37 0.86-4.16-0.01-7.5-4.55-8.71-4.16 0.04-7.55 1.87-8.7 6.62-1.08 4.42 1.17 7.36 4.94 8.46z"/>
					<path d="m465.5 300.81c0.09-0.37 0.15-0.73 0.2-1.09-3.44 1.51-6.88 3.33-10.3 5.49 0.26 0.1 0.54 0.19 0.82 0.27 4.15 1.23 8.05 0.58 9.28-4.67z"/>
					<path d="m263.86 272.48c-0.85 5.41 1.89 8.16 6.2 9.33 4.61 1.25 8.06-0.57 8.73-5.92 0.58-4.65-0.73-8.92-5.68-9.73-4.43-0.72-7.61 1.7-9.25 6.32z"/>
					<path d="m217.75 266.46c4.22 1.04 6.71-1.39 7.81-5.63 1.05-4.04 0.71-7.6-3.33-9.61-4.98-0.98-7.47 2.25-8.86 6.57-1.4 4.34 0.13 7.62 4.38 8.67z"/>
					<path d="m206.78 224.96c0.9-3.38 0.56-6.2-1.85-7.86l-4.15 14.06c3.12-0.28 5.06-2.68 6-6.2z"/>
					<path d="m501.97 310.23c-1.39 5.86 0.08 10.77 5.82 12.36 3.86 1.07 6.97-0.92 8.52-4.54-0.2-0.89-0.42-1.76-0.67-2.59-1.39-4.7-3.27-8.57-5.64-11.59-4.53-0.76-6.97 1.87-8.03 6.36z"/>
					<path d="m245.61 236.44c-0.9 5.02 1.15 8.61 5.87 9.43 4.57 0.79 6.19-2.91 6.87-6.91 0.72-4.27-0.49-7.58-5.51-8.76-3.28 0.26-6.43 1.8-7.23 6.24z"/>
					<path d="m297.06 250.73c-1.93 4.81-0.15 8.55 4.37 10.22 4.14 1.52 7.9 0.98 9.98-4.06 0.7-4.68-0.17-9.03-4.47-10.82-4.19-1.75-8.05 0.1-9.88 4.66z"/>
					<path d="m474.76 422.19c-1.19 5.32-0.2 9.95 4.87 11.69 5.35 1.84 8.32-2.24 9.88-7 1.5-4.59 0.17-8.92-4.27-10.59-4.98-1.88-8.46 0.83-10.48 5.9z"/>
					<path d="m269.6 363.48c-0.64 4.14 1.27 7.5 5.01 8.66 0.34 0.11 0.66 0.17 0.97 0.23l3.1-9.56 1.48-5.01c-0.6-0.43-1.32-0.78-2.16-1.05-4.52-0.27-7.65 1.89-8.4 6.73z"/>
					<path d="m227.41 342.58c-4.99-1.11-8.36 1.68-9.97 7.05-0.36 5.67 2.29 9.1 7.3 9.84 4.55 0.67 7.78-1.79 8.24-6.95 0.4-4.58-0.92-8.9-5.57-9.94z"/>
					<path d="m428.59 416.95c4.16 1.49 8.32 1.07 9.39-4.5 0.84-4.34 0.04-8.68-4.59-10.77-4.39-0.74-7.94 0.81-9.69 5.38-1.96 5.15 0.62 8.35 4.89 9.89z"/>
					<path d="m246.28 377.58c-5.31-2.3-8.03 1.59-10.47 6.41-1.3 5.38 1.47 8.82 5.9 10.68 4.97 2.09 8.74-0.07 10.08-5.63 1.28-5.3-0.92-9.47-5.51-11.46z"/>
					<path d="m396.94 437.72c4.25 1.1 8.02 0.14 8.92-5.27 0.75-4.56-0.81-8.28-5.01-10.3-4.96-0.69-8.74 1.27-10.01 6.58-1.24 5.18 1.89 7.91 6.1 8.99z"/>
					<path d="m442.45 361.27c4.26 1.28 8.28 0.67 9.45-4.78 0.99-4.59-0.37-8.93-4.9-10.41-4.35-1.42-7.71 0.78-9.7 5.3-1.21 5.1 0.56 8.51 5.15 9.89z"/>
					<path d="m292.92 301.51c-4.42-0.72-8 0.77-9.75 5.36-1.96 5.16 0.64 8.32 4.89 9.94 1.96 0.75 3.81 0.94 5.38 0.45l3.75-11.58c-0.76-1.72-2.15-3.17-4.27-4.17z"/>
					<path d="m493.86 376.06c4.44 1.54 8.14 0.28 9.23-5.04 0.93-4.58-0.17-8.95-4.93-10.26-4.38-1.2-7.68 1.08-9.66 5.5-1.36 5.32 1.06 8.31 5.36 9.8z"/>
					<path d="m237.28 302.22c4.53 1.41 8.08-0.17 8.96-5.51 0.76-4.64-0.61-8.54-5.2-10.11-4.56-0.33-8.1 1.33-9.47 6.12-1.52 5.33 1.45 8.17 5.71 9.5z"/>
					<path d="m193.16 280.88c0.97-4.16 0.24-7.58-4.09-9.39-0.07 0-0.13 0.01-0.19 0l-4.49 15.22c0.41 0.14 0.84 0.25 1.3 0.34 4.37 0.78 6.5-2.02 7.47-6.17z"/>
					<path d="m410.43 381.92c4.56 1.35 8.06-0.33 8.86-5.67 0.7-4.65-0.71-8.53-5.28-10-4.63-0.32-8.13 1.49-9.42 6.26-1.45 5.32 1.56 8.14 5.84 9.41z"/>
					<path d="m461.77 397.91c4.38 1.22 7.86-0.66 9.19-5.47 1.38-5.02 0.63-9.77-4.73-11.28-4.8-1.35-8.39 1.13-10.7 6.54-0.62 4.98 1.27 8.83 6.24 10.21z"/>
					<path d="m741.28 368.5c0.15 1.83 0.6 3.43 1.36 4.66l0.29-0.88 3.71-13.19c-4.68 0.79-5.73 5-5.36 9.41z"/>
					<path d="m668.31 503.1c-4.37 0.23-6.64 3.26-6.82 8.24-0.18 5.06 1.85 8.62 6.86 8.39 4.31-0.19 7.92-2.47 7.87-7.8-0.05-4.92-2.95-7.76-7.91-8.83z"/>
					<path d="m619.24 214.95c1.39 2.09 2.76 4.24 4.12 6.46 0.06-0.07 0.12-0.14 0.18-0.2-0.01-3.55-1.71-5.57-4.3-6.26z"/>
					<path d="m641.22 184.97c-5.53-0.24-7.55 4.51-7.98 9.36-0.55 6.2 3.66 8.26 8.45 8.15 0.44-0.01 0.85-0.06 1.26-0.12 1.95-1.6 3.93-3.15 5.95-4.65 0.59-1.27 0.98-2.75 1.21-4.38-0.45-5.91-4.26-8.16-8.89-8.36z"/>
					<path d="m642.27 144.59c4.44-0.85 6.19-4.65 6.8-9.17-0.87-5.56-4.84-6.3-8.8-6.18-4.45 0.13-5.76 3.68-5.4 7.9 0.42 4.74 2.32 8.42 7.4 7.45z"/>
					<path d="m615.64 173.35c4.33-0.45 7.38-2.97 7.55-8.12-0.9-4.95-3.41-8.14-7.98-8.28-5.1-0.15-6.84 3.73-6.87 8.54-0.04 5.13 2.35 8.37 7.3 7.86z"/>
					<path d="m561.76 158.11c-3.47-0.46-6.04 1.19-6.31 5.32-0.05 0.73-0.03 1.41 0.04 2.03 4.66 1.02 9.04 2.3 13.13 3.81 0.79-0.88 1.31-2.13 1.32-3.96 0.02-5.57-4.2-6.67-8.18-7.2z"/>
					<path d="m588.32 144.53c4.34 0.01 7.55-2.37 8.32-7.54-0.08-0.88-0.23-1.7-0.44-2.47-4.71 1.4-9.45 3.01-14.23 4.84 0.63 3.1 2.64 5.17 6.35 5.17z"/>
					<path d="m712.78 166.3c0.1 0.72 0.26 1.38 0.48 1.98 4.88-1.24 9.72-2.26 14.5-3.09-2.58-2.84-5.28-5.54-8.11-8.1-4.49 0.8-7.59 3.9-6.87 9.21z"/>
					<path d="m747.71 318.2c0.35-0.04 0.69-0.1 1.03-0.16-1.6-4.45-3.91-8.4-6.95-11.83-0.14-0.16-0.29-0.31-0.44-0.47-0.88 1.37-1.45 3.08-1.68 5.11 0.51 5.35 3.46 7.9 8.04 7.35z"/>
					<path d="m669 173.72c4.02-1.28 7.57-3.38 7.13-8.7-0.41-4.89-3.3-7.98-7.92-7.91-4.93 0.08-6.96 3.67-6.71 8.67 0.25 4.91 2.31 8.19 7.5 7.94z"/>
					<path d="m667.38 404.23c5.16 0.76 6.83-2.98 7.58-8.3-0.41-3.42-1.33-7.29-5.73-7.59-4.79-0.32-7.09 3.21-7.63 7.93-0.52 4.53 1.74 7.37 5.78 7.96z"/>
					<path d="m667.75 346.32c4.83 0.6 6.64-3.62 8.06-8.42-0.12-4.42-3.19-5.94-6.86-6.57-4.04-0.69-7.12 0.72-7.45 5.63-0.32 4.83 1.65 8.79 6.25 9.36z"/>
					<path d="m668.65 445.92c-4.62 0.18-6.91 3.81-7.11 8.55-0.21 5.25 2.56 8.05 7.31 7.51 4.23-0.48 7.31-2.9 7.56-8.03-0.81-4.82-3.17-8.2-7.76-8.03z"/>
					<path d="m694.75 144.58c2.26 0.03 3.78-0.77 4.76-2.07-2.68-1.53-5.43-2.97-8.26-4.31-1.03-0.48-2.06-0.95-3.1-1.4-0.01 0.22-0.03 0.43-0.03 0.66-0.02 4.6 2.78 7.07 6.63 7.12z"/>
					<path d="m641.92 475.55c-4.38-0.34-7.04 1.65-7.01 6.28 0.04 5.38 2.57 9.03 7.84 9.07 3.9 0.03 6.71-2.53 7.13-6.71 0.63-6.24-3.71-7.68-7.96-8.64z"/>
					<path d="m641.21 433.59c4.25-0.47 7.9-2.57 8.37-7.31 0.54-5.38-2.47-9.02-7.52-9.54-4.97-0.51-6.95 3.1-7.14 7.89-0.19 4.69 1.35 8.29 6.29 8.96z"/>
					<path d="m641.64 375.58c5.17-0.62 7.69-4.85 7.3-10.13-0.36-4.9-4-7.03-8.53-7.91-0.32 0.09-0.61 0.19-0.9 0.3-1.63 3.3-3.19 6.72-4.69 10.26 0.32 4.36 1.89 8.07 6.82 7.48z"/>
					<path d="m616.78 462c3.82-0.3 6.52-3.04 6.58-7.33 0.09-6.23-4.46-7.21-8.82-8.11-4.23 0.14-6.51 2.48-6.18 7.07 0.39 5.47 3.22 8.79 8.42 8.37z"/>
					<path d="m695.36 491.1c4.18-0.6 7.58-3.13 7.39-8.18-0.21-5.48-3.55-8.24-8.46-8.65-4.96 0.84-6.44 4.54-6.21 9.18 0.25 4.76 2.26 8.37 7.28 7.65z"/>
					<path d="m614.82 504.32c-4.02-0.06-6.63 1.95-6.48 6.6 0.17 5.4 2.77 8.95 8.04 8.85 3.92-0.07 6.68-2.75 6.98-6.92 0.43-6.2-3.96-7.57-8.54-8.53z"/>
					<path d="m714.7 453.3c-0.09 1.62 0.03 3.17 0.42 4.52l3.9-12c-2.81 0.88-4.12 3.8-4.32 7.48z"/>
					<path d="m722.12 387.95c-3.81 0.61-6.85 2.87-7 7.89-0.14 4.84 3.03 6.32 6.85 6.39 3.72 0.07 7.15-1.11 7.54-5.76 0.43-5.03-2.44-7.62-7.39-8.52z"/>
					<path d="m694.53 416.68c-4.92 0.03-6.55 4.01-6.44 8.71 0.11 4.74 1.93 8.46 6.97 8.01 4.25-0.38 7.16-2.97 7.89-7.9-0.65-5.38-3.36-8.84-8.42-8.82z"/>
					<path d="m721.16 346.84c4.87-0.17 8.05-3.24 8.71-8.67-0.71-5.36-2.84-9.53-8.08-9.69-5.76-0.18-7.2 4.54-7.23 9.69-0.02 4.68 1.53 8.84 6.6 8.67z"/>
					<path d="m694.71 375.46c4.25-0.05 7.46-2.36 8.3-7.45-0.4-4.74-2.52-8.25-7.07-8.66-4.75-0.43-7.16 3.11-7.76 7.75-0.66 5.11 1.71 8.42 6.53 8.36z"/>
					<path d="m695.5 317.87c4.42-0.42 7.49-2.76 7.59-7.77 0.11-5.38-3.77-6.91-7.78-7.62-4.02-0.72-6.98 0.94-7.19 5.68-0.23 5.39 2.21 8.86 7.38 9.71z"/>
					<path d="m641.57 534.65c-4.3 0.15-6.57 2.61-6.49 7.22 0.08 4.29 1.93 7.68 6.12 7.96 4.52 0.3 5.96-3.51 6.34-7.56 0.42-4.57-1.63-7.26-5.97-7.62z"/>
					<path d="m589.33 532.43c-4.69-0.02-7.12 3.19-7.13 8.12-0.01 4.17 2.77 5.7 6.15 5.58 4.05-0.14 6.33-2.62 6.55-7.13-0.4-3.66-1.95-6.56-5.57-6.57z"/>
					<path d="m688.36 540.15 2.16-6.66c-1.41 1.59-2.06 4.01-2.16 6.56v0.1z"/>
					<path d="m840.09 706.02c-0.01 0.3-0.01 0.6 0 0.89 2.21-2.95 4.4-6.08 6.56-9.38-4.26 0.44-6.38 3.92-6.56 8.49z"/>
					<path d="m845.96 640.51c-3.62-0.18-5.75 2.11-5.69 6.1 0.09 5.46 3.32 7.22 8.5 7.19 3.15-0.42 6.57-2 6.04-6.75-0.57-5.2-4.8-6.34-8.85-6.54z"/>
					<path d="m867.04 618.3c-0.22 4.93 2.9 6.44 6.85 6.68 1.92-0.09 3.8-0.37 5.18-1.28-0.44-4.5-1.42-8.66-2.61-12.36-0.83-0.27-1.75-0.41-2.76-0.39-4.04 0.07-6.46 3.02-6.66 7.35z"/>
					<path d="m793.57 713.56c4.34-0.06 7.55-2.43 8.17-7.62-0.54-4.88-2.84-8.21-7.39-8.77-5.08-0.62-7.18 2.95-7.49 7.83-0.32 5.04 1.74 8.63 6.71 8.56z"/>
					<path d="m847.8 598.2c4.59-0.95 7.4-3.95 6.96-8.86-0.48-5.36-4.82-6.45-8.86-6.57-4.41-0.13-6.31 2.92-5.81 7.48 0.53 4.86 3.05 7.73 7.71 7.95z"/>
					<path d="m820.14 627c4.26-0.06 7.43-2.42 8.27-7.48-0.39-4.78-2.56-8.23-7.11-8.61-4.74-0.39-7.16 3.09-7.73 7.77-0.63 5.14 1.75 8.39 6.57 8.32z"/>
					<path d="m813.49 733.37c-0.02 0.31-0.03 0.62-0.04 0.93 3.02-2.31 6.06-4.9 9.13-7.79-0.36-0.11-0.72-0.2-1.11-0.27-4.78-0.83-7.64 1.97-7.98 7.13z"/>
					<path d="m801.55 591.21c-1.85 1.42-3.73 3-5.55 4.73 2.79-0.35 4.83-1.73 5.55-4.73z"/>
					<path d="m820.7 668.61c-4.66 0.09-6.93 3.71-7.18 8.45-0.27 5.26 2.45 8.09 7.21 7.63 4.25-0.41 7.3-2.88 7.66-7.98-0.75-4.84-3.11-8.19-7.69-8.1z"/>
					<path d="m794.42 653.76c3.83 0.02 6.81-1.35 7.15-6.13-0.71-4.85-3.16-7.87-7.63-8.25-4.25-0.36-6.45 2.47-6.75 6.76-0.37 5.41 2.66 7.59 7.23 7.62z"/>
					<path d="m689.97 829.17c0.61-0.13 1.19-0.3 1.74-0.51-3.28-2.12-6.43-4.4-9.47-6.83 0.01 0.08 0.01 0.16 0.02 0.24 0.4 4.82 2.81 8.12 7.71 7.1z"/>
					<path d="m555.16 726.01c-4.94 0.49-6.14 4.76-5.82 9.32 0.34 4.82 2.61 8.19 7.57 7.26 4.15-0.78 7.08-3.37 7.27-8.39-1.08-5.38-3.93-8.7-9.02-8.19z"/>
					<path d="m555.87 685.18c5.29-0.71 8.18-4.04 8.6-9.41 0.44-5.57-2.86-7.86-7.47-7.49-4.58 0.37-9.24 2.08-9.53 7.92-0.28 5.74 3.79 8.1 8.4 8.98z"/>
					<path d="m555.3 783.75c-4.36 0.2-7.75 2.85-7.86 7.79-0.15 6.82 4.94 7.99 9.52 9.06 4.8-0.21 8-2.35 7.78-7.65-0.27-6.2-3.79-9.46-9.44-9.2z"/>
					<path d="m582.19 638.55c-5.53-0.24-7.55 4.51-7.98 9.36-0.55 6.2 3.66 8.26 8.45 8.15 5.12-0.11 7.67-3.8 8.41-9.15-0.43-5.91-4.24-8.16-8.88-8.36z"/>
					<path d="m583.25 598.17c4.44-0.85 6.19-4.65 6.8-9.17-0.87-5.56-4.84-6.3-8.8-6.18-4.45 0.13-5.76 3.68-5.4 7.9 0.42 4.74 2.32 8.42 7.4 7.45z"/>
					<path d="m556.62 626.93c4.33-0.45 7.38-2.97 7.55-8.12-0.89-4.88-3.35-8.05-7.81-8.27l-4.52 15.27c1.17 0.91 2.76 1.33 4.78 1.12z"/>
					<path d="m537.77 705.95c0.05-4.68-2.83-6.42-6.21-7.27-0.96 4.98-1.75 9.91-2.38 14.8 0.5 0.14 1.03 0.26 1.59 0.35 3.58-0.79 6.94-2.75 7-7.88z"/>
					<path d="m538.17 761.16c-0.66-5.74-4.05-8.5-8.9-8.06-0.52 0.05-0.99 0.14-1.44 0.26 0.43 6.29 1.18 12.37 2.26 18.22 5.31-0.63 7.51-4.88 8.08-10.42z"/>
					<path d="m609.39 725.76c-4.42 0.15-6.71 3.1-6.9 7.98-0.19 4.65 1.18 8.75 6.13 8.99 4.27 0.2 7.9-2.3 8.48-7.04 0.68-5.46-2.45-8.65-7.71-9.93z"/>
					<path d="m662.08 567.12c3.67 0.32 6.87-0.45 8.16-4.26h3.13c-0.76-0.69-1.67-1.22-2.75-1.56 0.01-0.07 0.03-0.14 0.04-0.21-0.4-5.04-2.87-7.92-7.41-7.97-3.94-0.04-6.46 2.54-7.07 6.72-0.67 4.73 1.94 6.94 5.9 7.28z"/>
					<path d="m661.59 610.55c-5 0.5-8.6 3.65-7.83 9.33 0.57 4.15 3.18 6.26 6.44 6.9l5.16-15.87c-1.1-0.36-2.35-0.5-3.77-0.36z"/>
					<path d="m609.98 627.3c4.02-1.28 7.57-3.38 7.13-8.7-0.41-4.89-3.3-7.98-7.92-7.91-4.93 0.08-6.96 3.67-6.71 8.67 0.25 4.91 2.3 8.19 7.5 7.94z"/>
					<path d="m610.21 841.92c-4.79-0.32-7.09 3.21-7.63 7.93-0.52 4.53 1.74 7.37 5.77 7.96 5.16 0.76 6.83-2.98 7.58-8.3-0.4-3.41-1.32-7.29-5.72-7.59z"/>
					<path d="m609.93 784.91c-4.04-0.69-7.12 0.72-7.45 5.63-0.32 4.83 1.65 8.79 6.25 9.36 4.83 0.6 6.64-3.62 8.06-8.42-0.12-4.41-3.19-5.94-6.86-6.57z"/>
					<path d="m609.19 668.04c-4.48 0.31-6.61 3.4-6.71 8.24-0.1 4.69 1.39 8.66 6.38 8.72 4.29 0.05 7.87-2.52 8.3-7.28 0.48-5.43-2.68-8.62-7.97-9.68z"/>
					<path d="m636.02 654.85c4.87-0.42 8.41-2.77 8.52-8.82-0.68-5.28-3.83-7.39-8.33-7.09-5.46 0.37-9.64 3.17-9.1 9.7 0.44 5.32 4.65 6.58 8.91 6.21z"/>
					<path d="m617.36 561.13c0.19-5.04-2.74-7.9-7.19-7.95-4.54-0.05-7.22 3-7.22 7.94 0 4.93 3.39 5.9 7.12 6.12 3.21-0.22 6.18-1.09 7.05-4.38h3.56c-0.92-0.72-2.05-1.21-3.33-1.51 0-0.08 0.01-0.15 0.01-0.22z"/>
					<path d="m635.73 598.17c5.13 0.07 6.46-4.11 6.32-8.74-0.12-4.17-1.88-7.22-6.24-7.49-4.43 1.14-6.69 4.32-6.71 9.11-0.02 4.59 2.78 7.06 6.63 7.12z"/>
					<path d="m581.39 811.12c-4.52 1.25-5.81 5.08-5.63 9.72 0.17 4.7 1.62 8.94 6.86 8.32 5.17-0.62 7.69-4.85 7.3-10.13-0.36-4.9-4-7.03-8.53-7.91z"/>
					<path d="m581.97 755.81c-4.15 0.27-6.44 2.59-6.05 7.18 0.46 5.46 3.31 8.76 8.51 8.28 3.8-0.36 6.49-3.11 6.49-7.42 0.01-6.24-4.56-7.15-8.95-8.04z"/>
					<path d="m583.53 697.37c-4.85 0.7-8.52 3.19-8.99 8.77-0.44 5.3 2.57 8.1 7.27 7.92 4.85-0.19 8.7-2.84 9.09-8.46 0.34-5.12-2.75-7.72-7.37-8.23z"/>
					<path d="m770.5 682.57c3.99-0.33 6.62-2.46 6.39-8.02-1.07-3.37-3.26-6.28-7.42-5.99-0.34 0.02-0.67 0.07-0.99 0.12l-4.12 12.49c1.53 1.38 3.82 1.59 6.14 1.4z"/>
					<path d="m769.93 726.23c-4.78-0.8-7.65 2.03-7.98 7.21-0.3 4.74 1.15 8.55 6.17 9.44 4.35-0.46 8-2.49 8.49-7.46 0.49-4.86-2.15-8.44-6.68-9.19z"/>
					<path d="m663.1 841.53c-3.81 0.61-6.85 2.87-7 7.89-0.14 4.84 3.03 6.32 6.85 6.39 3.72 0.07 7.15-1.11 7.54-5.76 0.43-5.03-2.44-7.62-7.39-8.52z"/>
					<path d="m627.63 705c-0.59 5.76 2.3 9.16 7.59 9.14 1.21 0 2.31-0.21 3.3-0.58 0.33-5.21 0.89-10.48 1.69-15.81-1.34-0.72-2.91-1.24-4.58-1.69-5.14 0.02-7.48 3.81-8 8.94z"/>
					<path d="m635.51 870.26c-2.15 0.01-3.67 0.78-4.69 2.04 3.74 0.62 7.52 1.09 11.35 1.41-1.4-2.19-3.6-3.46-6.66-3.45z"/>
					<path d="m661.61 800.41c-2.14-2.92-4.17-5.96-6.06-9.12 0 0.15-0.01 0.31-0.01 0.46-0.02 4.51 1.43 8.53 6.07 8.66z"/>
					<path d="m636.92 812.93c-4.75-0.43-7.16 3.11-7.76 7.75-0.66 5.11 1.71 8.42 6.53 8.36 4.25-0.05 7.46-2.36 8.3-7.45-0.41-4.74-2.52-8.25-7.07-8.66z"/>
					<path d="m629.1 761.75c-0.23 5.38 2.21 8.85 7.38 9.7 3.89-0.37 6.73-2.23 7.43-6.08-0.71-2.3-1.35-4.65-1.93-7.03-1.48-1.29-3.56-1.9-5.69-2.28-4.02-0.71-6.99 0.95-7.19 5.69z"/>
					<path d="m708.78 850.05c-0.02 5.19 2.48 7.96 7.42 7.92 4.15-1.12 7.79-3.06 7.29-8.5-0.45-4.84-3.33-7.98-7.91-8.06-5.08-0.09-6.78 3.83-6.8 8.64z"/>
					<path d="m418.52 592.84c-4.09-1.32-7.07-0.08-8.12 4.42-1.18 5.03-0.61 9.74 5.05 10.87 4.37 0.87 7.74-1.57 8.99-6.15 1.46-5.42-2.34-7.39-5.92-9.14z"/>
					<path d="m366.47 727.89c-4.57-0.8-7.46 2.24-8.51 6.86-1.16 5.12 1.06 8.43 5.81 8.93 4.25 0.45 7.68-1.33 9-6.74-0.18-4.33-1.74-8.25-6.3-9.05z"/>
					<path d="m383.05 680.07c0.38-5.22-3.56-7.23-7.5-8.3-3.52-0.95-6.02 0.84-6.68 4.77-0.9 5.37 1.95 7.79 7.04 8.86 3.16 0.27 6.8-0.56 7.14-5.33z"/>
					<path d="m368.62 825.67c-0.35 3.44 0.9 5.97 3.36 7.28 1.67-3.8 3.16-7.86 4.45-12.17-0.4-0.12-0.83-0.22-1.29-0.28-3.63-0.54-6.12 1.21-6.52 5.17z"/>
					<path d="m408.1 648.7c-3.98-0.79-6.88 1.58-7.86 5.79-1.11 4.79 1.68 6.93 5.51 8.01 3.72 0.64 7.44 0.53 8.31-4.38 0.86-4.88-1.42-8.52-5.96-9.42z"/>
					<path d="m379.29 768.14c-0.31 1.86-0.07 3.28 0.55 4.36 0.64-2.25 1.36-4.53 2.18-6.87l1.08-3.28c-1.97 0.96-3.34 2.97-3.81 5.79z"/>
					<path d="m320.37 726.5c0.35-4.9-1.3-8.66-5.66-10.17-4.87-1.69-7.57 1.36-8.76 6.08-1.23 4.87 0.15 8.84 5.03 9.83 4.26 0.86 7.84-0.78 9.39-5.74z"/>
					<path d="m303.24 772.9c-4.71 0.21-8.81 2.32-9.5 7.59-0.68 5.14 3.41 7.29 7.4 8.07 4.05 0.79 6.58-1.69 7.39-5.98 0.91-4.81-0.53-8.28-5.29-9.68z"/>
					<path d="m385.93 615.14c-4.3-1.07-6.71 1.51-7.05 6.09-0.36 4.88 1.6 8.23 6.12 9.44 4.67 0.04 7.97-2.3 8.42-7.2 0.5-5.36-3.55-7.34-7.49-8.33z"/>
					<path d="m352.67 653.03c4.19 0.85 7.72-0.78 9.46-5.57 0.48-4.77-1.03-8.62-5.42-9.96-4.58-1.4-7.58 1.51-8.99 5.97-1.53 4.9 0.22 8.6 4.95 9.56z"/>
					<path d="m362.88 596.72c4.34 0.99 8-1.09 9.37-5.64 1.89-6.26-2.45-8.49-6.85-9.65-4.09-1.07-7.83-0.13-9.63 5.63-0.09 4.86 2.22 8.55 7.11 9.66z"/>
					<path d="m397.5 707.66c-3.23-1.14-6.3-0.68-7.6 3.21-1.41 4.21 0.1 7.53 3.9 9.24 1.07 0.48 2.07 0.69 2.99 0.62l3.67-11.17c-0.69-0.79-1.65-1.44-2.96-1.9z"/>
					<path d="m325.75 807.49c-4.58-1.66-7.63 0.96-8.94 5.57-1.09 3.84 0.81 6.37 4.3 7.28 3.95 1.02 6.77-0.49 8.18-4.76 0.64-3.66-0.17-6.87-3.54-8.09z"/>
					<path d="m340.87 761.03c1.38-4.63-0.55-8.69-4.83-10.42-4.53-1.83-7.84 0.3-9.11 5.29-1.16 4.56-0.5 8.6 4.26 10.57 4.29 0.44 8.27-0.71 9.68-5.44z"/>
					<path d="m292.83 828.88c-4.3-0.6-7.18 2.83-7.9 7.59-0.71 4.7 0.46 8.65 5.35 9.47 4.43 0.74 7.42-1.64 8.85-6.46-0.15-4.86-1.13-9.88-6.3-10.6z"/>
					<path d="m313.58 864.38c-3.32-1.17-6.13-0.06-7.12 3.94-0.47 1.9-0.45 3.48 0.03 4.8 4.54 0.76 9.13 0.93 13.75 0.5 0.03-0.15 0.08-0.29 0.1-0.45 0.97-5.42-2.94-7.44-6.76-8.79z"/>
					<path d="m333.46 617.26c3.88 0.73 6.89-0.41 8.04-4.99-0.14-5.3-3.59-7.4-7.53-8.4-4.24-1.08-6.67 1.36-6.91 6.01-0.24 4.75 2.62 6.68 6.4 7.38z"/>
					<path d="m355.47 784.45c-3.96-0.38-6.77 2.05-7.46 6.41-0.78 4.97 2.35 6.75 6.09 7.53 3.87 0.8 6.99-0.18 8.13-5.22-0.27-4.53-2.04-8.27-6.76-8.72z"/>
					<path d="m346.26 841.27c-4.58-1.4-7.58 1.51-8.99 5.97-1.54 4.9 0.2 8.6 4.94 9.56 4.19 0.85 7.72-0.78 9.46-5.57 0.48-4.77-1.02-8.62-5.41-9.96z"/>
					<path d="m337.14 700.69c-1.22 5.1 0.94 8.46 5.69 9.02 4.25 0.5 7.68-1.27 8.96-6.19 0.13-4.9-1.57-8.69-6.08-9.58-4.59-0.91-7.48 2.16-8.57 6.75z"/>
					<path d="m322.63 673.78c3.75 0.84 6.93 0.13 8.12-4.49 0.18-4.91-1.67-8.39-5.99-9.72-4.1-1.26-6.78 1.04-7.84 5.18-1.36 5.24 1.22 8.03 5.71 9.03z"/>
					<path d="m113.7 534.03c-0.02-1.86-0.29-3.54-0.82-4.99l-3.22 10.92c1.99-0.92 3.42-2.84 4.04-5.93z"/>
					<path d="m73.67 710.24c4.21 0.12 7.55-1.79 8.64-6.68-0.07-5.5-2.27-9.36-7.36-9.95-4.94-0.57-6.88 3.36-7.39 7.89-0.54 4.81 1.08 8.6 6.11 8.74z"/>
					<path d="m83.04 653.74c5.32 0.43 8.75-2.22 10.14-7.39 1.44-5.37-1.39-8.31-5.97-8.93-2.22-0.3-4.52-0.29-6.44 0.46l-3.42 11.58c1.25 1.91 3.35 3.29 5.69 4.28z"/>
					<path d="m72.24 761.3c0.86-6.14-1.99-10.08-7.59-11.03-4.31-0.73-8.12 1.14-9.11 5.96-1.38 6.65 3.4 8.89 7.69 10.91 4.75 0.82 8.27-0.6 9.01-5.84z"/>
					<path d="m114.57 630.9c5.05 0.98 8.21-2.09 9.9-7.18 0.65-5.9-2.68-8.91-7.19-10.09-5.38-1.41-8.22 2.81-9.52 7.48-1.66 5.96 2.09 8.87 6.81 9.79z"/>
					<path d="m125.61 574.26c4.51 0.12 6.91-3.24 8.33-7.54 0.15-5.63-3.61-7.21-7.51-7.94-4.39-0.82-6.31 2.38-6.72 6.6-0.46 4.72 0.74 8.74 5.9 8.88z"/>
					<path d="m103.17 590.42c0.01-4.75-1.66-8.27-5.57-9.6l-4.63 15.7c0.42 0.11 0.86 0.2 1.33 0.25 4.32 0.49 7.77-1.34 8.87-6.35z"/>
					<path d="m133.94 716.31c1.65-5.2-0.84-9-5.77-11.37-4.36-0.79-7.14 1.61-8.21 6.35-1.03 4.52-0.42 8.83 4.39 10.12 4.15 1.11 8.16-0.58 9.59-5.1z"/>
					<path d="m212.21 547.14c-3.85-0.88-6.8 1.12-8.15 5.09-1.53 4.49 0.64 7.21 4.46 8.39 2.2 0.68 4.3 0.9 6.05 0.15l2.99-9.23c-0.83-2.26-2.61-3.78-5.35-4.4z"/>
					<path d="m190.83 610.58c-0.19 4.16 1.95 6.76 4.99 8.11l5.01-15.48c-0.21-0.04-0.42-0.08-0.64-0.11-5-0.58-9.1 1.74-9.36 7.48z"/>
					<path d="m155.11 601.5c0.48-4.88-1.79-8.53-6.34-9.44-4.85-0.97-7.49 2.12-8.15 7.07-0.64 4.86 0.78 8.52 5.92 9.38 4.19-0.39 8.05-1.69 8.57-7.01z"/>
					<path d="m107.98 819.01c-4.64-1.34-7.53 1.64-8.91 6.15-1.33 4.33 0.37 7.59 4.22 9.04 4.92 1.85 7.23-1.47 8.93-6.52 0.22-3.44 0.02-7.44-4.24-8.67z"/>
					<path d="m118.01 763.05c-3.84-1.54-7.11-0.82-8.32 3.93-1.18 4.67 0.03 8.97 4.44 10.51 4.63 1.62 7.17-2.13 9.42-6.54 0.68-4.35-2.05-6.5-5.54-7.9z"/>
					<path d="m138.42 648.29c-4.44-0.65-7.09 1.92-8.07 6.65-0.95 4.58-0.2 8.79 4.68 9.91 4.2 0.96 8.17-0.79 9.45-5.37 1.45-5.22-1.07-9.02-6.06-11.19z"/>
					<path d="m170.16 625.52c-5.42-0.8-10.02 1.05-10.67 7.58-0.53 5.31 3.37 7.44 7.62 7.98 4.85 0.62 8.75-0.93 9.94-6.83 0.29-5.32-2.42-8.07-6.89-8.73z"/>
					<path d="m151.62 542.12c-0.89 4.83 2.26 6.51 5.87 7.52 3.69 0.55 7.23 0.17 8.26-4.43 1.1-4.9-1.25-8.33-5.62-9.33-4.44-1.02-7.61 1.4-8.51 6.24z"/>
					<path d="m180.08 569.54c-4.55 0.17-7.34 2.81-8.23 7.5-0.85 4.5 1.45 7.52 5.21 8.39 5.01 1.16 7.07-2.65 7.78-7.23 0.64-4.1-0.53-7.47-4.76-8.66z"/>
					<path d="m40.96 782.02c-0.02-1.99-0.42-3.73-1.22-5.13l-3.07 10.41c2-0.6 3.51-2.22 4.29-5.28z"/>
					<path d="m76.21 841.06c-4.78-1.56-7.37 1.56-8.43 6.21-1.04 4.57-0.18 8.43 4.55 10.14 4.25 0.44 8.21-0.84 9.53-5.39 1.5-5.17-0.79-9.38-5.65-10.96z"/>
					<path d="m85.29 782.67c-4.66 0.26-6.61 3.74-7.28 8.33-0.68 4.65-0.03 9.11 5.23 9.62 5.18 0.5 8.41-3.11 8.99-8.37 0.53-4.9-2.66-7.76-6.94-9.58z"/>
					<path d="m103.18 738.34c1.14-6.11-3.18-7.97-7.32-9.79-4.12-0.62-6.78 1.17-7.23 5.75-0.54 5.46 1.66 9.3 6.84 9.93 3.79 0.46 6.92-1.66 7.71-5.89z"/>
					<path d="m103.25 687.58c4.79 0.84 9.05-0.93 10.44-6.36 1.27-4.94-1.3-8.16-5.73-9.64-4.88-0.34-8.93 1.31-10.4 6.69-1.4 5.1 1.05 8.5 5.69 9.31z"/>
					<path d="m55.47 807.1c-4.05-1.39-6.8 0.78-7.94 4.94-1.41 5.15 1 8 5.48 9.23 3.69 0.6 7.31 0.45 8.13-4.45 0.8-4.78-1.45-8.27-5.67-9.72z"/>
					<path d="m272.79 812.26c3.93 0.7 6.69-1.59 7.65-6.24 0.14-5.18-1.75-9.31-6.8-10.45-2.55-0.58-4.49 0.26-5.75 1.96-0.65 2.8-1.19 5.52-1.6 8.18 0.54 3.42 2.65 5.87 6.5 6.55z"/>
					<path d="m301.67 690.42c-0.15-1.2-0.45-2.37-0.93-3.42l-2.87 9.57c1.95-0.79 3.31-2.67 3.8-6.15z"/>
					<path d="m290.41 750.04c1.35-4.65-0.59-8.72-4.89-10.43-0.16-0.06-0.31-0.1-0.47-0.15l-4.75 15.87c0.15 0.07 0.28 0.15 0.44 0.22 4.34 0.47 8.28-0.74 9.67-5.51z"/>
					<path d="m159.26 681.41c-5.03-1.08-8.01 2.14-9.45 7.05-1.62 5.52 0.6 9.47 5.79 10.58 4.96 1.06 8.65-1.58 10.2-6.68 1.79-5.89-1.95-8.6-6.54-10.95z"/>
					<path d="m119.78 859.36c-0.02 0.13-0.03 0.25-0.04 0.37 1.69-1.46 3.36-3.03 4.99-4.7 0.9-0.92 1.78-1.89 2.63-2.89-4.62-0.8-6.86 2.69-7.58 7.22z"/>
					<path d="m130.4 802.22c-1.57 4.87 0.16 8.62 4.89 9.59 3.51 0.72 6.59-0.29 8.52-3.5-0.73-3.24-1.15-6.64-1.28-10.21-0.81-0.8-1.84-1.42-3.12-1.83-4.58-1.43-7.59 1.53-9.01 5.95z"/>
					<path d="m149.07 740.39c-3.81-1.56-7.02-0.57-8.08 4.04-1.2 5.23 0.57 9.14 5.48 11.09 2 0.24 3.8 0.03 5.26-0.72l3.19-9.84c-1.06-2.24-3.39-3.57-5.85-4.57z"/>
					<path d="m970.54 594.81c-6.92-10.45-15.92-17.14-27.02-20.1-11.1-2.94-22.46-1.47-34.05 4.42-11.6 5.9-19.62 16.88-24.06 32.96l-0.3 0.9c-2.29-9.04-6-16.13-8.32-19.99-7.67-12.72-20.37-17.83-31.78-21.16-12.04-3.5-24.45-1.75-36.88 5.18-3.42 1.91-7.68 4.58-12.05 8.05l76.76-232.63v0.8c6.41-19.29 9.62-38.85 9.62-58.68 0-18.75-3.09-36.18-9.25-52.25-6.18-16.08-14.81-30.01-25.91-41.8-11.1-11.78-24.43-21.03-39.98-27.73-15.55-6.69-32.7-10.05-51.45-10.05-6.1 0-12.29 0.38-18.56 1.11-0.53-0.64-1.06-1.29-1.61-1.92-11.42-13.31-25.32-23.89-41.31-31.47-15.99-7.56-33.85-11.39-53.06-11.39-22.62 0-46.67 5.45-71.48 16.2-15.57 6.75-29.82 15.82-42.63 27.09-9.5-0.06-18.41 1.13-26.74 3.6-0.21 0.06-0.4 0.13-0.61 0.19-7.61-10.85-15.62-19.96-23.96-27.17-13.17-11.38-31.47-18.08-54.35-19.89-13.29-1.22-25.74 0.03-37.01 3.7-11.11 3.61-20.76 8.06-28.68 13.23-7.85 5.13-14.3 10.21-19.16 15.09-1.58 1.59-2.87 2.92-3.91 4.03-3.81-8.23-10.03-15.76-18.57-22.46-10.61-8.33-22.55-13.48-35.49-15.34-13.1-1.87-26.1 0.8-38.64 7.96-12.73 7.27-22.34 21.31-28.58 41.76l-184.59 625.49c-4.11 16.57-4.61 31.28-1.48 43.73 3.14 12.5 8.64 22.69 16.33 30.28 7.64 7.53 16.84 12.62 27.36 15.13 4.41 1.05 8.84 1.57 13.28 1.57 6.12 0 12.24-0.99 18.32-2.98 10.41-3.42 20.28-9.84 29.34-19.08 8.88-9.08 15.71-21.2 20.34-36.06 2.53 4.28 5.58 8.02 9.15 11.24 7.16 6.43 15.67 10.71 25.54 12.86 9.87 2.13 19.73 1.73 29.61-1.21 9.87-2.95 19.12-8.44 27.76-16.48 6.21-5.79 11.34-12.97 15.38-21.53-0.75 7.55-0.56 14.59 0.58 21.06 2.35 13.4 7.17 24.37 14.34 32.6 7.18 8.23 16.3 13.83 27.12 16.66 10.7 2.8 21.69 2.64 32.66-0.46 10.97-3.12 21.26-9.55 30.59-19.12 8.93-9.16 15.79-21.4 20.42-36.38 1.97 3.56 4.28 6.77 6.97 9.59 6.66 6.96 15.05 11.66 25.17 14.07 10.11 2.41 20.36 2.27 30.72-0.4 10.36-2.69 19.99-8.18 28.87-16.48s15.55-19.42 19.99-33.36l25.39-78.72c-0.72 7.3-1.09 14.5-1.09 21.58 0 22.3 3.6 42.48 10.7 60 7.1 17.53 16.89 32.57 29.1 44.7 12.19 12.11 26.6 21.46 42.81 27.8 16.15 6.32 33.55 9.52 51.71 9.52 20.63 0 41.31-4.41 61.47-13.11 11.78-5.09 23.25-12 34.31-20.61 6.12 0.73 12.37 1.09 18.75 1.09 20.23 0 40.22-3.89 59.96-11.66 19.73-7.77 38.37-20.1 55.89-36.98 17.51-16.88 33.92-38.99 49.23-66.32 15.29-27.33 28.62-60.56 39.98-99.68 4.93-16.59 3.95-30.14-2.96-40.59zm-174.54 1.13c1.83-1.73 3.7-3.31 5.55-4.73 3.67-2.82 7.24-5.04 10.13-6.65 10.66-5.95 21.19-7.47 31.29-4.54 10.49 3.06 21.05 7.31 27.27 17.62 1.7 2.82 4.24 7.61 6.21 13.7 1.19 3.7 2.17 7.86 2.61 12.36 0.18 1.87 0.26 3.8 0.24 5.76-10.25 27.78-21.14 50.46-32.66 68.06-2.16 3.31-4.35 6.44-6.56 9.38-2.26 3.02-4.55 5.85-6.86 8.49-3.58 4.09-7.13 7.79-10.65 11.11-3.07 2.89-6.11 5.48-9.13 7.79-11.91 9.1-23.45 13.66-34.64 13.66-7.4 0-13.33-2.41-17.77-7.24-4.44-4.82-6.66-11.25-6.66-19.29 0-3.74 0.49-7.76 1.48-12.06 0.98-4.28 2.22-8.84 3.7-13.67l4.79-14.53 4.12-12.49 22.05-66.83c1.73-2.13 3.59-4.1 5.49-5.9zm-223.27-452.82c3.09-1.34 6.17-2.59 9.23-3.76 4.78-1.82 9.53-3.43 14.23-4.84 15.56-4.65 30.66-7 45.12-7 16.9 0 32.64 3.12 46.84 9.28 1.04 0.45 2.08 0.92 3.1 1.4 2.82 1.34 5.58 2.77 8.26 4.31 7.26 4.16 13.99 9.03 20.14 14.59 2.83 2.55 5.53 5.26 8.11 8.1-4.79 0.83-9.62 1.85-14.5 3.09-8.96 2.27-18.08 5.24-27.36 8.9-13.42 5.3-25.76 12.15-37.02 20.52-2.02 1.5-4 3.05-5.95 4.65-6.9 5.66-13.37 11.93-19.4 18.83-0.06 0.07-0.12 0.14-0.18 0.2-1.36-2.21-2.73-4.37-4.12-6.46-9.69-14.62-20.04-26.26-31.05-34.94-5.58-4.39-12.11-7.97-19.57-10.73-4.1-1.52-8.47-2.79-13.13-3.81-5.07-1.11-10.48-1.93-16.22-2.46 10.3-8.02 21.48-14.67 33.47-19.87zm-429.4 678.35c-3.75 12.41-9.11 22.7-15.96 30.67-0.86 1-1.73 1.96-2.63 2.89-1.64 1.67-3.3 3.24-4.99 4.7-6.73 5.83-13.85 10.01-21.24 12.43-9.2 3.01-18.52 3.42-27.68 1.24-9.16-2.19-17.16-6.61-23.78-13.13-6.58-6.49-11.31-15.32-14.05-26.24-2.76-10.97-2.26-24.19 1.43-39.1l2.26-7.65 3.07-10.41 37.61-127.44 3.42-11.58 12.2-41.34 4.63-15.7 12.06-40.88 3.22-10.92 39.99-135.52 2.36-7.99 12.6-42.68 4.58-15.54 11.98-40.6 4.49-15.22 11.9-40.33 4.15-14.06 11.49-38.94 2.51-8.5c0.5-1.63 1.03-3.2 1.57-4.74 5.52-15.67 13.32-26.49 23.22-32.15 8.82-5.03 17.86-7.56 26.96-7.56 1.62 0 3.23 0.09 4.85 0.25 0.73 0.07 1.45 0.15 2.18 0.26 2.94 0.42 5.82 1.03 8.64 1.83 8.35 2.36 16.16 6.37 23.29 11.97 9.39 7.38 15.52 15.72 18.21 24.8l3.04 10.69 4.16-10.09c0.14-0.25 1.14-1.79 6.94-7.62 4.48-4.49 10.5-9.22 17.89-14.06 7.37-4.81 16.42-8.97 26.9-12.38 10.33-3.36 21.81-4.49 34.16-3.37 21.33 1.7 38.18 7.78 50.1 18.07 7.19 6.22 14.15 13.98 20.82 23.17-7.22 2.6-13.62 5.54-19.15 8.84-7.66 4.56-13.82 8.98-18.51 13.26-4.7 4.3-7.29 6.97-7.77 8.04-2.17-6.67-6.27-12.83-12.27-18.5-2.2-2.07-4.64-4.08-7.35-6.02-0.16-0.12-0.33-0.23-0.49-0.34-9.99-7.03-21.06-11.34-33.19-12.92-1.41-0.18-2.81-0.31-4.21-0.39-4.07-0.24-8.12-0.05-12.14 0.56-6.72 1.03-13.36 3.25-19.92 6.66-1.78 0.93-3.49 2-5.14 3.19-3.34 2.41-6.41 5.36-9.21 8.85-4.97 6.21-9.08 14.11-12.3 23.73l-33.02 101.96-3.75 11.58-12.18 37.61c-0.23 0.54-0.46 1.08-0.68 1.62l-0.09 0.21-0.32 1.1-1.48 5.01-3.1 9.56-13.12 40.5-4.54 14-14.7 45.38-1.46 4.49-24.22 74.77-2.99 9.23-13.75 42.44-5.01 15.48-40.89 126.26-3.19 9.84-5.86 18.09c-2.5 9.16-3.61 17.57-3.34 25.23 0.13 3.57 0.55 6.97 1.28 10.21 0.18 0.79 0.37 1.58 0.58 2.35 0.33 1.2 0.7 2.37 1.09 3.52l-2.16 7.37zm233.42-1.72c-0.1 0.35-0.21 0.68-0.31 1.02-1.29 4.31-2.78 8.37-4.45 12.17-3.79 8.59-8.54 15.85-14.2 21.66-8.37 8.58-17.52 14.33-27.2 17.09-3.45 0.98-6.9 1.62-10.33 1.94-4.62 0.43-9.21 0.26-13.75-0.5-1.6-0.27-3.19-0.6-4.77-1.02-9.33-2.44-17.16-7.23-23.27-14.25-6.12-7.03-10.27-16.57-12.34-28.35-1.25-7.09-1.18-15.05 0.19-23.79 0.41-2.65 0.95-5.38 1.6-8.18 0.8-3.41 1.76-6.91 2.91-10.53l9.48-31.67 4.75-15.87 12.84-42.89 2.87-9.57 27.41-91.55 8.34-25.75 4.65-14.34 13.83-42.71 3.15-9.74 40.92-126.35c10.85-24.12 24.43-43.81 40.71-59.09 5.19-4.86 10.4-8.95 15.63-12.26 3.42-2.17 6.86-3.99 10.3-5.49 7.83-3.42 15.72-5.16 23.66-5.16 5.92 0 11.22 1.61 15.92 4.82 1.75 1.2 3.32 2.7 4.72 4.49 2.36 3.02 4.25 6.88 5.64 11.59 0.25 0.83 0.46 1.7 0.67 2.59 1.63 7.13 1.91 16.03 0.81 26.75-0.05 0.5-0.11 1.01-0.17 1.51-2.74 6.97-5.26 14.33-7.55 22.1l-26.71 90.89-6.55 19.92-2.54 7.73-13.8 42-4.84 14.73-13.22 40.24-4.68 14.25-36.61 111.4-3.67 11.17-13.68 41.63-1.08 3.28c-0.82 2.34-1.54 4.62-2.18 6.87-3.64 12.7-4.52 23.94-2.63 33.73 0.44 2.27 0.99 4.42 1.59 6.51l-2.06 6.98zm335.75 41.94c-19.23 8.3-38.94 12.51-58.58 12.51-3.96 0-7.87-0.17-11.74-0.49-3.83-0.31-7.62-0.78-11.35-1.41-8.97-1.5-17.65-3.87-25.98-7.13-15.23-5.96-28.75-14.73-40.18-26.08-11.41-11.32-20.56-25.41-27.22-41.85-3.23-7.96-5.68-16.54-7.35-25.66-1.07-5.85-1.83-11.93-2.26-18.22-0.28-4.15-0.43-8.38-0.43-12.71 0-8.87 0.6-17.94 1.79-27.17 0.63-4.89 1.42-9.83 2.38-14.8 1.57-8.15 3.57-16.41 6.02-24.74l14.25-48.13 4.52-15.27 7.48-25.26 63.96-198.28c2.15-6.64 4.5-12.93 7.03-18.9 1.5-3.54 3.06-6.96 4.69-10.26 7.61-15.37 16.65-28.17 27.14-38.37 16.53-16.08 33.19-24.12 49.97-24.12 10.13 0 18.37 3.47 24.73 10.38 0.15 0.16 0.3 0.31 0.44 0.47 3.04 3.43 5.35 7.37 6.95 11.83 1.78 4.94 2.68 10.51 2.68 16.71 0 3.6-0.37 7.3-1.06 11.08l-3.72 13.25-3.71 13.19-0.29 0.88-23.62 72.66-3.9 12-24.59 75.67-2.16 6.66-23 70.77-5.16 15.87-11.69 35.95c-3.84 11.92-6.61 23.59-8.32 35.01-0.79 5.32-1.36 10.59-1.69 15.81-0.24 3.72-0.36 7.41-0.36 11.08 0 12.03 1.27 23.26 3.81 33.7 0.58 2.38 1.22 4.73 1.93 7.03 1.31 4.25 2.85 8.36 4.62 12.32 2.11 4.76 4.46 9.28 7.04 13.59 1.89 3.16 3.92 6.2 6.06 9.12 4.47 6.09 9.48 11.66 15.04 16.68 1.82 1.64 3.68 3.22 5.59 4.74 3.04 2.43 6.2 4.7 9.47 6.83 8.08 5.24 16.87 9.56 26.39 12.95 6.55 2.33 13.27 4.18 20.16 5.54-8.4 5.91-17.01 10.77-25.78 14.57z"/>
				
				</svg>
				
            <a/>
        </div>

        <div class="menu-burst" id="burst-toggle">

            <svg version="1.1" id="Black-Burst" x="0px" y="0px"
            viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
                <path id="black-path" class="Black" d="M50.5,18.8l12.9-17l-0.4,19.4l22.7-10L72,27.9l26.5-0.3L75.4,37l23.2,9.4L72,46.1l13.6,16.7l-22.7-10l0.4,19.4l-12.9-17
           l-12.9,17l0.4-19.4l-22.7,10L29,46.1L2.4,46.4L25.6,37L2.4,27.6L29,27.9L15.3,11.2l22.7,10L37.6,1.8L50.5,18.8z"/>
            </svg>
            <!-- RED BURST -->
            <svg version="1.1" id="Red-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Red{fill:#FF1919;}
</style>
<path class="Red" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
            <!-- GREEN BURST -->
            <svg version="1.1" id="Green-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Green{fill:#19ff19;}
</style>
<path class="Green" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
            <!-- BLUE BURST -->
            <svg version="1.1" id="Blue-Burst" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 101 74" style="enable-background:new 0 0 101 74;" xml:space="preserve">
<style type="text/css">
	.Blue{fill:#1919ff;}
</style>
<path class="Blue" d="M50.5,17.85L64.03,0l-0.46,20.42l23.9-10.5L73.14,27.43L101,27.09L76.64,37L101,46.92l-27.86-0.34l14.33,17.51
	l-23.9-10.5L64.03,74L50.5,56.16L36.97,74l0.46-20.41l-23.9,10.5l14.33-17.51L0,46.92L24.36,37L0,27.09l27.86,0.34L13.53,9.91
	l23.9,10.5L36.97,0L50.5,17.85z"/>
</svg>
        </div>
    </div>
</section>

<script>
	import Blobity from 'blobity';

const options = { color: '#000000', dotColor: '#fffffff', dotSize: '12', zIndex: '123456789', invert: 'true', opacity: '0.88' };
new Blobity(options);

</script>
	
<script is:inline>
// Enable hidden nav bar
{
  const nav = document.querySelector(".main-top-nav");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY) {
      nav.classList.add("nav--hidden");
    } else {
      nav.classList.remove("nav--hidden");
    }

    lastScrollY = window.scrollY;
  });
}

</script>

<script is:inline>
	// Clicking on the burst itself will click the checkbox. This gets rid of the reliance on clicking the input while keeping the hover animations 
	const toggleChecked = () => document.getElementById('Burst-Menu').toggleAttribute('checked');
document.getElementById('burst-toggle').addEventListener('click', toggleChecked);

	// Clicking on the menu will change the logo and burst fills to white
  const menuButton = document.getElementById('Black-Burst');
  const invertBackground = document.getElementById('black-path');    

  menuButton.addEventListener('click', () => {
    invertBackground.classList.toggle('Whitesmoke');
});

	// Clicking on the menu will change the logo and burst fills to white
  const whiteFill = document.getElementById('logo');    

  menuButton.addEventListener('click', () => {
    whiteFill.classList.toggle('Whitesmoke');
  });
</script>

<!-- Motion Test - WORKING
<script>
import { animate } from "motion"
animate(
  "#Blue-Burst",
  { x: [0, -100, 100, 0] },
  {
    duration: 2,
    offset: [0, 0.25, 0.75]
  }
)

</script>
 -->